@use '../1-base/mixins' as m;

.about {
  > article {
    > .about-header {
      height: 94vh ; width: 100% ;
      position: relative ;
      overflow: hidden;
      > div.video {
        width: 100% ; height: 100% ;
        > video {
          min-width: 100%;
          min-height: 100%;

          width: auto;
          height: auto;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }
    div.about-title {
      width: 100% ; height: 100% ;
      background: linear-gradient(to bottom, rgba(51,49,50,0), rgba(51,49,50,1));
      position: absolute ;
      top: 0 ; left: 0 ;
      > div {
        height: 100% ;
        position: relative;
        > div {
          width: 100% ;
          text-align: center ;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          > h1 {
            width: var(--col-w) ;
            font-family: var(--main-font) ;
            font-size: 45px ;
            line-height: 45px ;
            color: var(--yellow) ;
            display: inline-block;
          }
        }
        > a {
          width: 30px ; height: 30px ;
          font-size: 30px ;
          position: absolute ;
          bottom: 60px ;
          left: 50% ;
          display: block ;
          color: var(--gray) ;
          margin: 0 0 0 -15px ;
          &:hover {
            color: var(--yellow) ;
            cursor: pointer ;
          }
        }
      }
    }
    > div.contenido {
      padding: 6.25rem 0 11.25rem 0 ;
      overflow: auto ;
      > div {
        //@include boxGrid(2, 3%);
        //float: left ;
        overflow: hidden ;
        > video {
          width: 100% ; height: auto ;
        }
        &:last-child {
          padding: 70px 50px ;
        }
        > h2 {
          font-family: var(--main-font) ;
          font-size: 40px ;
          line-height: 42px ;
          color: var(--yellow) ;
          margin-bottom: 15px ;
        }
        > h4 {
          font-family: var(--text-font) ;
          font-size: 20px ;
          line-height: 28px ;
          color: var(--white) ;
          margin-bottom: 15px ;
        }
        > p {
          font-family: var(--text-font) ;
          font-size: 14px ;
          line-height: 26px ;
          color: var(--gray) ;
        }
      }
    }
    > div.about-me {
      background-color: var(--blue) ;
      position: relative ;
      > div {
        padding: 160px 0 380px  ;
        > div.my-photo {
          --photo-h: 220px ; 
          $photo-p: calc(var(--photo-h) / 2) ;
          --negative-p: calc(-1 * var(--photo-p)) ;
          width: var(--photo-h) ; height: var(--photo-h) ;
          background-color: var(--red) ;
          border-radius: 50% ;
          position: absolute ;
          top: var(--negative-p) ; left: 50% ;
          margin: 0 0 0 var(--negative-p) ;
          overflow: hidden ;
          > img {
            width: 100% ; height: auto ;
          }
        }
        > div.my-bio {
          width: 420px ;
          margin: 0 auto ;
          > h2 {
            font-family: var(--main-font) ;
            font-size: 32px ;
            line-height: 34px ;
            color: var(--white) ;
            margin-bottom: 20px ;
            > span {
              color: var(--yellow) ;
            }
          }
          > p {
            font-family: var(--text-font) ;
            font-size: 15px ;
            line-height: 22px ;
            color: var(--white) ;
            > a {
              font-weight: bold ;
              color: var(--yellow) ;
            }
          }
        }
      }
    }
    > div.cta {
      > div {
        position: relative ;
          padding: 420px 0 60px 0 ;
        > div.my-video {
          width: 100% ;
          position: absolute;
          top: -300px ;
          overflow: hidden ;
          > video {
            width: 100% ; height: auto ;
          }
        }
        > div.my-bio {
          width: var(--col-w) ;
          margin: 0 auto ;
          > h2 {
            font-family: var(--main-font) ;
            font-size: 32px ;
            line-height: 40px ;
            color: var(--yellow) ;
            margin-bottom: 20px ;
          }
          > h4 {
            font-family: var(--text-font) ;
            font-size: 20px ;
            line-height: 28px ;
            color: var(--gray) ;
            margin-bottom: 15px ;
          }
        }
      }
    }
    > div.testimonials {
      > div {
        ul {
          overflow: auto ;
          li {
            //@include boxGrid(4, 3%);
            //float: left ;
            overflow: hidden ;
            div {
              width: 100% ; height: auto ;
              border-radius: 50% ;
              overflow: hidden ;
              margin-bottom: 20px ;
              > img {
                width: 100% ; height: auto ;
              }
            }
            strong {
              font-family: var(--main-font) ;
              font-size: 26px ;
              color: var(--yellow) ;
            }
            p {
              font-family: var(--text-font) ;
              font-size: 15px ;
              line-height: 22px ;
              color: var(--white) ;
            }
            a {
              color: var(--yellow) ;
            }
          }
        }
      }
    }
    > div.cta-2 {
      > div {
        position: relative ;
        padding: 60px 0 60px 0 ;
        > div.my-bio {
          width: var(--col-w) ;
          margin: 0 auto ;
          > h2 {
            font-family: var(--main-font) ;
            font-size: 32px ;
            line-height: 40px ;
            color: var(--white) ;
            margin-bottom: 20px ;
            > span {
              color: var(--yellow) ;
            }
          }
          > h4 {
            font-family: var(--text-font) ;
            font-size: 20px ;
            line-height: 28px ;
            color: var(--gray) ;
            margin-bottom: 15px ;
          }
        }
      }
    }
    div.opt-in {
      background-color: var(--black) ;
      > div.bar {
        height: 40px ; width: 100% ;
        background-color: var(--yellow) ;
      }
      > div.container {
        padding: 90px 0 70px 0;
        > small {
          font-family: var(--text-font) ;
          font-size: 14px ;
          line-height: 14px !important ;
          color: var(--gray) ;
        }
        div#mc_embed_signup {
          margin-bottom: 30px ;
          form {
            div.indicates-required {
              text-align: right ;
              font-family: var(--text-font) ;
              font-size: 12px ;
              color: var(--gray) ;
              > span {
                color: var(--red) ;
              }
            }
            div.mc-field-group {
              margin-bottom: 30px ;
              label {
                font-family: var(--main-font) ;
                font-size: 16px ;
                display: block ;
                color: var(--yellow) ;
                > span {
                  color: var(--red) ;
                }
              }
              input {
                height: 50px ;
                width: 400px ;
                border: none ;
                padding: 5px 10px ;
                &[type="email"]{
                  width: 500px ;
                }
              }
            }
            div.two-columns {
              width: 40% ;
              display: inline-block ;
              > input {
                width: 95% ;
              }
            }
            div.clear {
              margin-top: 40px ;
            }
          }
        }
        div#mergeRow-gdpr {
          p {
            color: var(--gray) ;
            > a {
              color: var(--yellow) ;
            }
          }
          > div.content__gdpr {
            fieldset {
              label {
                input {
                  width: 30px ; height: 30px ;
                  margin-right: 15px ;
                  display: inline-block ;
                }
                span {
                  font-family: var(--text-font) ;
                  color: var(--white) ;
                  line-height: 30px ;
                  display: inline-block ;
                  position: relative ;
                  top: -8px ;
                }
              }
            }
          }
        }
      }
    }

  }
}


.scroll-section {
    .scroll-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        .image-container {
            position: relative; // Posición por defecto
            top: auto;
        }

        // Estilos para el efecto sticky
        &.is-sticky {
            .image-container {
                position: sticky;
                top: 1rem;
            }
        }
    }

    // Media queries para controlar el comportamiento
    @include m.breakpoint(lg) {
        .scroll-container.is-sticky .image-container {
            position: relative; // Desactiva el sticky en pantallas grandes
            top: auto;
        }
    }

    @include m.breakpoint(sm) {
        .scroll-container {
            grid-template-columns: 1fr; // Cambia a una sola columna

            &.is-sticky .image-container {
                position: relative; // Desactiva el sticky en pantallas pequeñas
                top: auto;
            }
        }
    }
}
