@use "../1-base/mixins" as m;

.about {
  > article {
    > .about-header {
      position: relative ;
      overflow: hidden;
 width: 100% ;
      height: 94vh ;

      > div.video {
        width: 100% ;
 height: 100% ;

        > video {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: auto;
          min-width: 100%;
          height: auto;
          min-height: 100%;
        }
      }
    }

    div.about-title {
      position: absolute ;
      top: 0 ;
 left: 0 ;
      width: 100% ;
 height: 100% ;
      background: linear-gradient(to bottom, rgba(51,49,50,0), rgba(51,49,50,1));

      > div {
        position: relative;
        height: 100% ;

        > div {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transform: translateY(-50%);
          width: 100% ;
          text-align: center ;

          > h1 {
            display: inline-block;
            width: var(--col-w) ;
            color: var(--yellow) ;
            font-family: var(--main-font) ;
            font-size: 45px ;
            line-height: 45px ;
          }
        }

        > a {
          position: absolute ;
          bottom: 60px ;
          left: 50% ;
          display: block ;
          width: 30px ;
 height: 30px ;
          margin: 0 0 0 -15px ;
          color: var(--gray) ;
          font-size: 30px ;

          &:hover {
            cursor: pointer ;
            color: var(--yellow) ;
          }
        }
      }
    }

    > div.contenido {
      overflow: auto ;
      padding: 6.25rem 0 11.25rem;

      > div {
        //@include boxGrid(2, 3%);
        //float: left ;
        overflow: hidden ;

        > video {
          width: 100% ;
 height: auto ;
        }

        &:last-child {
          padding: 70px 50px ;
        }

        > h2 {
          margin-bottom: 15px ;
          color: var(--yellow) ;
          font-family: var(--main-font) ;
          font-size: 40px ;
          line-height: 42px ;
        }

        > h4 {
          margin-bottom: 15px ;
          color: var(--white) ;
          font-family: var(--text-font) ;
          font-size: 20px ;
          line-height: 28px ;
        }

        > p {
          color: var(--gray) ;
          font-family: var(--text-font) ;
          font-size: 14px ;
          line-height: 26px ;
        }
      }
    }

    > div.about-me {
      position: relative ;
      background-color: var(--blue) ;

      > div {
        padding: 160px 0 380px  ;

        > div.my-photo {
          --photo-h: 220px ;
          $photo-p: calc(var(--photo-h) / 2) ;
          --negative-p: calc(-1 * var(--photo-p)) ;
          position: absolute ;
          top: var(--negative-p) ;
 left: 50% ;
          overflow: hidden ;
          width: var(--photo-h) ;
 height: var(--photo-h) ;
          margin: 0 0 0 var(--negative-p) ;
          border-radius: 50% ;
          background-color: var(--red) ;

          > img {
            width: 100% ;
 height: auto ;
          }
        }

        > div.my-bio {
          width: 420px ;
          margin: 0 auto ;

          > h2 {
            margin-bottom: 20px ;
            color: var(--white) ;
            font-family: var(--main-font) ;
            font-size: 32px ;
            line-height: 34px ;

            > span {
              color: var(--yellow) ;
            }
          }

          > p {
            color: var(--white) ;
            font-family: var(--text-font) ;
            font-size: 15px ;
            line-height: 22px ;

            > a {
              color: var(--yellow) ;
              font-weight: 700 ;
            }
          }
        }
      }
    }

    > div.cta {
      > div {
        position: relative ;
          padding: 420px 0 60px;

        > div.my-video {
          position: absolute;
          top: -300px ;
          overflow: hidden ;
          width: 100% ;

          > video {
            width: 100% ;
 height: auto ;
          }
        }

        > div.my-bio {
          width: var(--col-w) ;
          margin: 0 auto ;

          > h2 {
            margin-bottom: 20px ;
            color: var(--yellow) ;
            font-family: var(--main-font) ;
            font-size: 32px ;
            line-height: 40px ;
          }

          > h4 {
            margin-bottom: 15px ;
            color: var(--gray) ;
            font-family: var(--text-font) ;
            font-size: 20px ;
            line-height: 28px ;
          }
        }
      }
    }

    > div.testimonials {
      > div {
        ul {
          overflow: auto ;

          li {
            //@include boxGrid(4, 3%);
            //float: left ;
            overflow: hidden ;

            div {
              overflow: hidden ;
              width: 100% ;
 height: auto ;
              margin-bottom: 20px ;
              border-radius: 50% ;

              > img {
                width: 100% ;
 height: auto ;
              }
            }

            strong {
              color: var(--yellow) ;
              font-family: var(--main-font) ;
              font-size: 26px ;
            }

            p {
              color: var(--white) ;
              font-family: var(--text-font) ;
              font-size: 15px ;
              line-height: 22px ;
            }

            a {
              color: var(--yellow) ;
            }
          }
        }
      }
    }

    > div.cta-2 {
      > div {
        position: relative ;
        padding: 60px 0;

        > div.my-bio {
          width: var(--col-w) ;
          margin: 0 auto ;

          > h2 {
            margin-bottom: 20px ;
            color: var(--white) ;
            font-family: var(--main-font) ;
            font-size: 32px ;
            line-height: 40px ;

            > span {
              color: var(--yellow) ;
            }
          }

          > h4 {
            margin-bottom: 15px ;
            color: var(--gray) ;
            font-family: var(--text-font) ;
            font-size: 20px ;
            line-height: 28px ;
          }
        }
      }
    }

    div.opt-in {
      background-color: var(--black) ;

      > div.bar { width: 100% ;
        height: 40px ;
        background-color: var(--yellow) ;
      }

      > div.container {
        padding: 90px 0 70px;

        > small {
          color: var(--gray) ;
          font-family: var(--text-font) ;
          font-size: 14px ;
          line-height: 14px !important ;
        }

        div#mc_embed_signup {
          margin-bottom: 30px ;

          form {
            div.indicates-required {
              color: var(--gray) ;
              font-family: var(--text-font) ;
              font-size: 12px ;
              text-align: right ;

              > span {
                color: var(--red) ;
              }
            }

            div.mc-field-group {
              margin-bottom: 30px ;

              label {
                display: block ;
                color: var(--yellow) ;
                font-family: var(--main-font) ;
                font-size: 16px ;

                > span {
                  color: var(--red) ;
                }
              }

              input {
                width: 400px ;
                height: 50px ;
                padding: 5px 10px ;
                border: none ;

                &[type="email"]{
                  width: 500px ;
                }
              }
            }

            div.two-columns {
              display: inline-block ;
              width: 40% ;

              > input {
                width: 95% ;
              }
            }

            div.clear {
              margin-top: 40px ;
            }
          }
        }

        div#mergeRow-gdpr {
          p {
            color: var(--gray) ;

            > a {
              color: var(--yellow) ;
            }
          }

          > div.content__gdpr {
            fieldset {
              label {
                input {
                  display: inline-block ;
                  width: 30px ;
 height: 30px ;
                  margin-right: 15px ;
                }

                span {
                  position: relative ;
                  top: -8px ;
                  display: inline-block ;
                  color: var(--white) ;
                  font-family: var(--text-font) ;
                  line-height: 30px ;
                }
              }
            }
          }
        }
      }
    }

  }
}


.scroll-section {
    .scroll-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        .image-container {
            position: relative; // Posición por defecto
            top: auto;
        }

        // Estilos para el efecto sticky
        &.is-sticky {
            .image-container {
                position: sticky;
                top: 1rem;
            }
        }
    }

    // Media queries para controlar el comportamiento
    @include m.breakpoint(lg) {
        .scroll-container.is-sticky .image-container {
            position: relative; // Desactiva el sticky en pantallas grandes
            top: auto;
        }
    }

    @include m.breakpoint(sm) {
        .scroll-container {
            grid-template-columns: 1fr; // Cambia a una sola columna

            &.is-sticky .image-container {
                position: relative; // Desactiva el sticky en pantallas pequeñas
                top: auto;
            }
        }
    }
}
