/* ******************************************************** */
/* ************************ BLOG ************************ */
/* ******************************************************** */

.blog {
  &.featured-posts {
    background-color: $black ;
  }
  > div.bar {
    height: 40px ; width: 100% ;
    background-color: $blue ;
  }
  div.container {
    padding: 60px 0 60px 0 ;
    > ul {
      overflow: hidden ;
      margin-bottom: 40px ;
      padding: 10px ;
      > li {
        @include boxGrid(3, 3%);
        float: left ;
        article {
          > a:first-child {
            width: 100% ;
            display: block ;
            img {
              width: 100% ; height: auto ;
              display: block ;
            }
          }
          > div {
            padding: 20px 0 ;
            h1 {
              font-family: $main-font ;
              font-size: 28px ;
              line-height: 30px ;
              margin-bottom: 10px ;
              a {
                color: $white ;
                @include transition(color .3s);
                &:hover {
                  text-decoration: none ;
                  color: $red ;
                }
              }
            }
            > time {
              font-family: $text-font ;
              font-size: 14px ;
              line-height: 22px ;
              color: $yellow ;
              margin: 0 ;
              position: relative ;
              top: -5px ;
            }
            p {
              font-family: $text-font ;
              font-size: 14px ;
              line-height: 22px ;
              color: $gray ;
              margin: 0 ;
              margin-bottom: 10px ;
            }
            > a:last-child {
              font-family: $main-font-regular ;
              font-size: 16px ;
              color: $yellow ;
              display: block ;
              &:hover {
                text-decoration: none ;
                color: darken($yellow, 20%) ;
              }
            }
          }
        }
      }
    }
  }
}

/* ************************************************************************* */
/* ***************************** Media queries ***************************** */
/* ************************************************************************* */

.blog {
  /* ***************************** Extra Large ***************************** */
  @include media-breakpoint-down(xl) {
  }

  /* ******************************** Large ***************************** */
  @include media-breakpoint-down(lg) {
  }

  /* ******************************** Medium ***************************** */
  @include media-breakpoint-down(md) {
  }

  /* ********************************* Small ***************************** */
  @include media-breakpoint-down(sm) {
    div.container {
      padding: 20px 10px 40px 10px ;
      > ul {
        padding: 0 ;
        margin: 0 0 20px 0 ;
        > li {
          @include boxGrid(2, 2%);
          &:last-child{
            display: none ;
          }
          article {
            > div {
              padding: 15px 0 10px 0 ;
              h1 {
                font-size: 20px ;
                line-height: 22px ;
              }
              p {
                font-family: $text-font ;
                font-size: 12px ;
                line-height: 16px ;
                color: $gray ;
                margin: 0 ;
              }
              > a:last-child {
                font-family: $main-font-regular ;
                font-size: 14px ;
                color: $yellow ;
                display: block ;
                margin-top: 10px ;
                &:hover {
                  text-decoration: none ;
                  color: $red ;
                }
              }
            }
          }
        }
      }

    }
  }

  /* ******************************* Extra Small ***************************** */
  @include media-breakpoint-down(xs) {
    div.container {
      padding: 10px 10px 40px ;
      > ul {
        margin: 0 0 15px 0 ;
        > li {
          article {
            > div {
              padding: 10px 2px 15px ;
              p {
                font-size: 12px ;
                line-height: 14px ;
              }
              > a:last-child {
                font-size: 14px ;
              }
            }
          }
        }
      }
    }
  }
}
