/* ******************************************************** */
/* ************************ BLOG ************************ */
/* ******************************************************** */

.blog {
  div.titulo {
    h1 {
      font-family: $main-font ;
      font-size: 40px ;
      display: inline-block ;
      color: $white ;
    }
    p {
      font-family: $text-font ;
      display: inline-block ;
      color: $white ;
    }
  }
}

/* ************************************************************************* */
/* ***************************** Media queries ***************************** */
/* ************************************************************************* */

.blog {
  /* ***************************** Extra Large ***************************** */
  @include media-breakpoint-down(xl) {
  }

  /* ******************************** Large ***************************** */
  @include media-breakpoint-down(lg) {
  }

  /* ******************************** Medium ***************************** */
  @include media-breakpoint-down(md) {
  }

  /* ********************************* Small ***************************** */
  @include media-breakpoint-down(sm) {
  }

  /* ******************************* Extra Small ***************************** */
  @include media-breakpoint-down(xs) {
  }
}
