/* ******************************************************** */
/* ************************ CONTACT ************************ */
/* ******************************************************** */

@use "../1-base/mixins" as m;

.contacto {
  padding: var(--pading-top-lg) 0 ;
  background-color: var(--white);

  .cover {
    position: relative;
 width: 100% ;
    height: 70vh;
    padding-bottom: var(--spacing-lg);
    background-color: var(--color-backgrounds) ;
    @include m.flex(column, center, center, nowrap);

    > div {
      position: relative ;
      overflow: hidden;
      width: calc(100% - calc(var(--spacing-lg)*2)) ;
      height: 100% ;
      border-radius: var(--radius-md);
      background-color: gray ;

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100% ;
 height: 100% ;
        object-fit: cover;
      }
      @include m.breakpoint(lg) {
        width: calc(100% - calc(var(--spacing-md)*2)) ;
      }
      @include m.breakpoint(md) {
        width: calc(100% - calc(var(--spacing-sm)*2)) ;
      }
    }
    @include m.breakpoint(lg) {
      height: 60vh;
    }
    @include m.breakpoint(md) {
      height: 50vh;
    }
  }

  > h1 {
    margin-bottom: 1.5rem ;
  }

  p {
    margin-bottom: 2rem ;
    font-size: 1.2rem ;
    line-height: 1.8rem ;

    > a {
      color: var(--green) ;
    }

    > strong {
      font-weight: 500 ;
    }
  }

  h1, h2, h3 {
    margin: 1.5rem 0 1rem ;
    color: var(--green);
    font-weight: 600 ;
  }

  > strong {
    @extend p ;
    margin-bottom: 1.25rem ;
    font-weight: 500 ;
  }
  @include m.breakpoint(lg) {
    padding: var(--pading-top-md) var(--spacing-md) ;

    .article-container {
      padding: 0 var(--spacing-md) 0 ;
    }

  }
  @include m.breakpoint(md) {
    padding: var(--pading-top-md) 0 ;
  }
}


