/* ******************************************************** */
/* ************************ CONTACT ************************ */
/* ******************************************************** */

@use '../1-base/mixins' as m;

.contacto {
  background-color: var(--color-backgrounds);
  .cover {
    position: relative;
    height: 70vh; width: 100% ;
    @include m.flex(column, center, center, nowrap);
    background-color: var(--color-backgrounds) ;
    padding-bottom: var(--spacing-lg);
    > div {
      width: calc(100% - calc(var(--spacing-lg)*2)) ;
      height: 100% ;  
      position: relative ;
      overflow: hidden;
      background-color: gray ;
      border-radius: var(--radius-md);
      img {
        width: 100% ; height: 100% ;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
      }
      @include m.breakpoint(lg) {
        width: calc(100% - calc(var(--spacing-md)*2)) ;
      }
      @include m.breakpoint(md) {
        width: calc(100% - calc(var(--spacing-sm)*2)) ;
      }
    }
    @include m.breakpoint(lg) {
      height: 60vh;
    }
    @include m.breakpoint(md) {
      height: 50vh;
    }
  }
  > h1 {
    margin-bottom: 1.5rem ;
  }
  background-color: var(--white);
  padding: var(--pading-top-lg) 0 ;
  p {
    font-size: 1.2rem ;
    line-height: 1.8rem ;
    margin-bottom: 2rem ;
    > a {
      color: var(--green) ;
    }
    > strong {
      font-weight: 500 ;
    }
  }
  h1, h2, h3 {
    font-weight: 600 ;
    color: var(--green);
    margin: 1.5rem 0 1rem ;
  }

  > strong {
    @extend p ;
    font-weight: 500 ;
    margin-bottom: 1.25rem ;
  }
  @include m.breakpoint(lg) {
    padding: var(--pading-top-md) var(--spacing-md) ;
    .article-container {
      padding: 0 var(--spacing-md) 0 ;
    }
    
  }
  @include m.breakpoint(md) {
    padding: var(--pading-top-md) 0 ;
  }
}


