@use "../1-base/mixins" as m;

.cta-wrapper {
    padding: var(--pading-top-lg) 0 ;
    background-color: var(--offwhite);

    .cta {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr ;
        padding: var(--pading-top-lg);
        border-radius: var(--radius-md);
        background-color: var(--darkgray) ;
        gap: var(--spacing-md);

        div {
            img {
                border-radius: var(--radius-sm);
            }

            h2 {
                margin-bottom: 1rem ;
                color: var(--yellow);
                font-size: clamp(1.8rem, 2.5vw, 2.5rem);
                font-weight: 600 ;
                line-height: clamp(2rem, 2.5vw, 2.6rem);
                @include m.breakpoint(lg) {
                    font-size: clamp(1.4rem, 3vw, 1.8rem);
                    line-height: clamp(1.5rem, 3vw, 1.9rem);
                }
                @include m.breakpoint(md) {
                    font-size: clamp(1.5rem, 3.5vw, 2rem);
                    line-height: clamp(1.6rem, 3.5vw, 2.1rem);
                }
            }

            p {
                margin-bottom: 1rem ;
                color: var(--white);

                strong {
                    font-weight: 500 ;
                }
            }
        }
    }
    @include m.breakpoint(md) {
        .cta {
            grid-template-columns: 1fr ;
        }
    }
}
