/* ******************************************************** */
/* ************************ FOOTER ************************ */
/* ******************************************************** */

@use "../1-base/mixins" as m;

footer {
  overflow: hidden ;
  height: var(--footer-h) ;
  background-color: var(--darkgray) ;

  > div {
    @include m.flex(row, flex-start, center, nowrap, 1rem);

    .container__logo {
      width: 9rem ;
 height: var(--footer-h) ;
      margin: 0 0.3rem 0 0 !important ;
      padding: 0;

      > a {
        display: block ;
        transition: opacity 0.3s ease;
        width: 100% ;
 height: var(--footer-h) ;
        background: url("../img/mostay-logo-red.svg");
        background-repeat: no-repeat ;
        background-position: center ;
        background-size: contain ;

        > span {
          display: none ;
        }

        &:hover {
          opacity: 0.5;
        }
      }
      @include m.breakpoint(md) {
        width: 8rem ;
      }
    }

    small {
      width: 12rem ;
 height: var(--footer-h) ;
      color: var(--gray) ;
      font-family: var(--main-font) ;
      font-size: 0.9rem;
      line-height: 0.9rem;
      @include m.flex(row, flex-start, center, nowrap, 1rem);
      @include m.breakpoint(md) {
        width: 9rem ;
        font-size: 0.9rem;
        line-height: 0.9rem;
      }
      @include m.breakpoint(md) {
        display: none ;
      }
    }

    div.social-networks {
      height: var(--footer-h) ;

      > ul {
        height: var(--footer-h) ;
        @include m.flex(row, space-between, center, nowrap, var(--spacing-sm));
        padding-right: 0 ;

        li {
          display: inline-block ;
 width: 1.5rem ;
          height: 1.5rem ;
          margin-right: 0.5rem ;

          > a {
            display: block ;
            transition: background-color 0.3s ease;
 width: 100% ;
            height: 100% ;
            border-radius: 50% ;
            background-color: var(--gray) ;
            font-size: 0.8rem;
            @include m.flex(row, center, center, nowrap);

            > i {
              color: var(--darkgray) ;
            }

            span {
              display: none ;
            }

            &:hover {
              background-color: var(--white) ;
            }
          }
        }
      }
      @include m.breakpoint(md) {
        > ul {
          @include m.flex(row, space-between, center, nowrap, 0.1rem);

          li {
            margin: 0 0 0 0.5rem ;
          }
        }
      }
    }
    @include m.breakpoint(md) {
      @include m.flex(row, flex-start, center, nowrap, 0.5rem);
    }
  }
}

