/* ******************************************************** */
/* ************************ HEADER ************************ */
/* ******************************************************** */

@use '../1-base/mixins' as m;

.topnav {
  padding: calc(var(--spacing-lg)/2) calc(var(--spacing-lg) + var(--spacing-md)) ;
  display: block ;
  background-color: var(--color-backgrounds) ;
  @include m.flex(row, space-between, center, nowrap);
  &__logo {
    position: inherit ;
    a {
      span {
        display: none ;
        color: var(--red) ;
      }
      img {
        width: 10.5rem ;
      }
    }
  }
  &__navigation {
    @include m.flex(row, space-between, center, nowrap, var(--spacing-sm));
    position: inherit ;
    a, button {
      svg {
        height: 1.3rem !important ;
        display: block ;
      }
    }    
    &__open {
      background-color: var(--white) ;
      fill: var(--green) ;
      color: var(--color-secondary) ;
      box-shadow: 0 0.25rem 0.5rem #0000000e ;
      &:hover,
      &:focus {
        background-color: var(--lightOrange);
        text-decoration: none ;
        color: var(--black) ;
        fill: var(--black)  ;
      }
    }
    &__open[aria-expanded='true']{
      + .topnav__navigation__menu {
        opacity: 1 ;
      }
    }
    &__menu {
      width: 100vw ; height: 100vh ;
      position: fixed ;
      z-index: 9999 ;
      top: 0 ; left: 0 ;
      background-color: rgba(236, 233, 227, 0.8) ;   
      backdrop-filter: blur(10px);
      opacity: 0 ;
      transition: opacity 0.3s ease-in-out ;
      @include m.flex(row, center, center, nowrap );
      //display: none ;
      > div {
        width: calc(100vw - 3rem) ;
        height: calc(100vh - 3rem) ;
        background-color: var(--orange) ;
        border-radius: var(--radius-md) ;
        padding: 2.5rem ;
        //@include m.flex(row, center, top, nowrap );
        display: grid ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 20px ;
        @include m.breakpoint(lg) {
          grid-template-columns: 1fr ;
          grid-template-rows: auto auto ;
        }
        div {
          //width: 20% ;
          height: 100% ;
          .menuLogo {
            > span {
              display: none ;
            }
          }
        }
        .menuWrapper01 {
          @include m.flex(row, space-between, flex-start, nowrap );
          button {
            width: 3rem ; height: 3rem ;
            border: 1px solid var(--black) ;
            background-color: var(--orange) ;
            border-radius: var(--radius-sm) ;
            @include m.flex(row, center, center, nowrap );
            padding: 0 ;
            svg {
              width: 1.5rem ; height: 1.5rem ;
              fill: var(--black) ;
            }
          }
        }
        .menuWrapper02 {
          width: 100% ;
          padding: 0 20% ;
          @include m.flex(column, center, center, nowrap);
          @include m.breakpoint(md) {
            padding: 0 15vw ;
          }
          ul {
            width: 100% ;
            li {
              @include m.flex(row, flex-start, flex-start, nowrap);
              font-family: var(--main-font) ;
              a {
                &:hover {
                  text-decoration: none ;
                }
                span {
                  display: none ;
                }
              }
            }
          }
          .mainMenu {
            &__item {
              border-bottom: 1px solid var(--yellow) ;
              > a {
                font-weight: bold ;
                color: var(--black) ;
                display: inline-block ;
                font-size: 4.5rem ;
                line-height: 6.5rem ;
                width: 100% ;
                transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), color 0.3s ease;
                /*@include m.breakpoint(lg) {
                    font-size: 2.5rem ;
                    line-height: 3.5rem ;
                }*/
              }
              > span {
                color: var(--yellow) ;
                font-family: var(--main-font) ;
                font-size: .7rem ;
                line-height: 1rem ;
                padding-top: 1rem ;
              }
              &:hover a {
                position: relative ;
                transform: translateX(50px);
                color: #FF0024; 
              }
            }
          }
          .secondaryMenu {
            @include m.flex(row, flex-start, flex-start, nowrap );
            padding-top: 1.5rem ;
            &__item {
              margin-right: 2rem ;
              > a {
                font-weight: 300 ;
                color: var(--yellow) ;
                display: inline-block ;
                font-size: 1.5rem ;
                line-height: 2rem;
              }
              > span {
                color: var(--yellow) ;
                font-family: var(--main-font) ;
                font-size: .4rem ;
                line-height: .4rem ;
                padding-top: .2rem ;
                margin-left: .1rem ;
              }
              &:hover a {
                position: relative ;
                transform: translateX(0); 
                color: var(--red) ;
              }
            }
            .snLink {
              width: 2rem ; height: 2rem ;
              margin-right: .7rem ;
              background-color: var(--yellow) ;
              border-radius: 1rem ;
              transition: background-color 0.5s cubic-bezier(0.25, 1, 0.5, 1);
              a {
                width: 100% ; height: 100% ;
                color: var(--yellow) ; 
                transition: color 0.3s ease; 
                display: block ;
                @include m.flex(row, center, center, nowrap );
                > svg {
                  fill: var(--yellow) ;
                  transition: fill 0.3s ease; 
                  height: 1.1rem !important ; width: auto ;
                  display: block ;
                  fill: var(--orange) ;
                  //padding: .5rem 0 ;
                }
              }
              &:hover {
                background-color: var(--red) ;
              }
            }
          }
        }
      }
      @include m.breakpoint(lg) {
        > div {
          width: calc(100vw - 2rem) ;
          height: calc(100vh - 2rem) ;
          .menuWrapper02 {
            padding: 0 10% ;
            .mainMenu {
              &__item {
                border-bottom: none ;
                background-color: var(--black);
                margin-bottom: .3rem ;
                border-radius: var(--radius-sm);
                > a {
                  color: var(--orange) ;
                  font-size: 2rem ;
                  line-height: 2rem ;
                  padding: 1.5rem ;
                  font-weight: 600;
                }
                > span {
                  color: var(--orange) ;
                  font-size: .7rem ;
                  line-height: 1rem ;
                  padding: 1rem 1rem 0 0 ;
                }
                &:hover a {
                  transform: translateX(0);
                  color: #FF0024; 
                }
              }
            }
            .secondaryMenu {
              padding-top: 0 ;
              @include m.flex(row, flex-start, flex-start, wrap, 1% );
              &__item {
                margin-right: 0 ;
                background-color: var(--black);
                margin-bottom: .3rem ;
                border-radius: var(--radius-sm);
                width: 49.5% ;
                > a {
                  width: 100% ;
                  color: var(--orange) ;
                  font-size: 1.3rem ;
                  line-height: 2rem ;
                  padding: 1.5rem ;
                  font-weight: 400;
                }
                > span {
                  color: var(--orange) ;
                  font-size: .7rem ;
                  line-height: 1rem ;
                  padding: 1rem 1rem 0 0 ;
                }
                &:hover a {
                  position: relative ;
                  transform: translateX(0); 
                  color: var(--red) ;
                }
              }
              .snLink {
                width: 24% ; height: auto ;
                margin-right: 0 ;
                background-color: var(--black);
                border-radius: var(--radius-sm);
                a {
                  color: var(--orange) ; 
                  font-size: 1.3rem ;
                  line-height: 2rem ;
                  padding: 1.7rem ;
                  > svg {
                    fill: var(--orange) ;
                    height: 1.5rem !important ; width: auto ;
                  }
                }
                &:hover {
                  background-color: var(--red) ;
                }
              }
            }
          }
        }
      }
      @include m.breakpoint(md) {
        > div {
          width: calc(100vw - 1.8rem) ;
          height: calc(100vh - 1.8rem) ;
          padding: 1.5rem ;
          .menuWrapper01 {
            .menuLogo {
              padding-top: .3rem ;
              img {
                width: 8rem ;
              }
            }
            button {
              width: 2rem ; height: 2rem ;
              background-color: var(--orange) ;
              border: none ;
              padding: 0 ;
              svg {
                width: 2rem ; height: 2rem ;
                fill: var(--black) ;
              }
            }
          }
          
          .menuWrapper02 {
            padding: 0 0 ;
            .mainMenu {
              &__item {
                margin-bottom: .2rem ;
                border-radius: calc(var(--radius-sm)/1.5);
                > a {
                  font-size: 1.2rem ;
                  line-height: 1.2rem ;
                  padding: 1.2rem ;
                  font-weight: 600;
                }
                > span {
                  font-size: .5rem ;
                  line-height: .5rem ;
                  padding: .8rem .8rem 0 0 ;
                }
              }
            }
            .secondaryMenu {
              &__item {
                margin-bottom: .1rem ;
                border-radius: calc(var(--radius-sm)/1.5);
                > a {
                  font-size: 1rem ;
                  line-height: 1.2rem ;
                  padding: 1.2rem ;
                  font-weight: 400;
                }
                > span {
                  font-size: .5rem ;
                  line-height: .5rem ;
                  padding: .8rem .8rem 0 0 ;
                }
              }
              .snLink {
                border-radius: calc(var(--radius-sm)/1.5);
                a {
                  font-size: 1.2rem ;
                  line-height: 1.2rem ;
                  padding: 1.2rem ;
                  > svg {
                    height: 1.2rem !important ; width: auto ;
                  }
                }
                &:hover {
                  background-color: var(--red) ;
                }
              }
            }
          }
        }
      }
    } 
  }
  @include m.breakpoint(lg) {
    padding: calc(var(--spacing-md)/1.5) ;
  }
  @include m.breakpoint(md) {
    &__navigation {
      @include m.flex(row, space-between, center, nowrap, calc(var(--spacing-sm)/2));
    }
    &__logo {
      a {
        img {
          width: 7rem ;
        }
      }
    }
  }
}







