/* ******************************************************** */
/* ************************ HEADER ************************ */
/* ******************************************************** */



header {
  width: 100% ; height: $menu-h ;
  position: fixed ;
  top: 0 ; left: 0 ;
  background-color: $black ;
  z-index: 9 ;
  > h1 {
    width: 206px ; height: $menu-h ;
    float: left ;
    background-color: $red ;
    > a {
      width: 206px ; height: $menu-h ;
      background: url("../img/mostay-logo.svg");
      background-repeat: no-repeat ;
      background-position: center ;
      background-color: rgba(0,0,0,0) ;
      display: block ;
      @include transition(background-color .3s);
      > span {
        display: none ;
      }
      &:hover {
        background-color: rgba(0,0,0,.2) ;
      }
    }
  }
  > nav {
    height: $menu-h ;
    float: left ;
    padding: $nav-padding ;
    ul {
      height: $nav-h ;
      display: inline-block ;
      li {
        height: $nav-h ;
        display: inline-block ;
        > a {
          height: $nav-h ;
          font-family: $main-font-regular ;
          font-size: 13px ;
          line-height: $nav-h ;
          color: $white ;
          padding: 0 10px ;
          display: block ;
          @include transition(background-color .3s);
          &:hover {
            background-color: $red ;
            text-decoration: none ;
            color: $white ;
            border: none ;
          }
        }
      }
    }
  }
  > div.social-networks {
    height: $menu-h ;
    float: right ;
    > ul {
      height: $menu-h ;
      padding: $nav-padding ;
      li {
        height: $nav-h ;
        display: inline-block ;
        margin-left: 5px ;
        > a {
          height: $nav-h - 8 ; width: $nav-h - 8 ;
          display: block ;
          border-radius: 50% ;
          background-color: $darkgray ;
          font-size: 13px ;
          line-height: $nav-h - 8 ;
          text-align: center ;
          @include transition(background-color .3s);
          > i {
            color: $black ;
          }
          span {
            display: none ;
          }
          &:hover {
            background-color: $gray ;
          }
        }
      }
    }
  }
}

/* ************************************************************************* */
/* ***************************** Media queries ***************************** */
/* ************************************************************************* */

header {
  /* ***************************** Extra Large ***************************** */
  @include media-breakpoint-down(xl) {
  }

  /* ******************************** Large ***************************** */
  @include media-breakpoint-down(lg) {
  }

  /* ******************************** Medium ***************************** */
  @include media-breakpoint-down(md) {
  }

  /* ********************************* Small ***************************** */
  @include media-breakpoint-down(sm) {
  }

  /* ******************************* Extra Small ***************************** */
  @include media-breakpoint-down(xs) {
  }
}
