.btn {
  height: 50px ;
  font-family: $main-font ;
  font-size: 16px ;
  line-height: 50px ;
  border: 1px solid $white ;
  padding: 0 30px ;
  display: inline-block ;
  color: $white ;
  margin: 0 auto ;
  @include transition(background-color .3s);
  &:hover {
    text-decoration: none ;
    background-color: $white ;
    color: $darkgray ;
  }
}

.btn-verde {
  @extend .btn;
  background-color: $blue ;
  border: none ;
  &:hover {
    background-color: darken($blue, 12%) ;
    color: $white ;
  }
}

/* ************************************************************************* */
/* ***************************** Media queries ***************************** */
/* ************************************************************************* */

.btn {
  /* ***************************** Extra Large ***************************** */
  @include media-breakpoint-down(xl) {
  }

  /* ******************************** Large ***************************** */
  @include media-breakpoint-down(lg) {
  }

  /* ******************************** Medium ***************************** */
  @include media-breakpoint-down(md) {
  }

  /* ********************************* Small ***************************** */
  @include media-breakpoint-down(sm) {
  }

  /* ******************************* Extra Small ***************************** */
  @include media-breakpoint-down(xs) {
    height: 40px ;
    font-family: $main-font ;
    font-size: 16px ;
    line-height: 40px ;
    padding: 0 20px ;
  }
}
