@use '../1-base/mixins' as m;

/*.btn {
  height: 3.125rem ;
  font-family: var(--main-font) ;
  font-size: 1rem ;
  line-height: 3.125rem ;
  border: 1px solid var(--white) ;
  padding: 0 1.875rem ;
  display: inline-block ;
  color: var(--white) ;
  margin: 0 auto ;
  transition: background-color .3s ease ;
  &:hover {
    text-decoration: none ;
    background-color: var(--white) ;
    color: var(--darkgray) ;
  }
  @include m.breakpoint(md) {
    height: 2.5rem ;
    font-family: var(--main-font) ;
    font-size: 1rem ;
    line-height: 2.5rem ;
    padding: 0 1.125rem ;
  }
}

.btn-verde {
  @extend .btn;
  background-color: var(--blue) ;
  border: none ;
  &:hover {
    background-color: var(--darkblue) ;
    color: var(--white) ;
  }
}*/


