@use "../1-base/mixins" as m;

.newsletter {
    background-color: var(--green);

    .container {
        display: grid;
        grid-template-columns: 50% 50% ;
        min-height: 350px; // o el alto que desees
        div {
            height: 100% ;
            @include m.flex(column, center, flex-start);

            h2 {
                margin-bottom: 0.5rem;
                color: var(--yellow);
                font-weight: 500 ;
            }

            p {
                margin-bottom: 1rem ;
                color: var(--white);

                strong {
                    color: var(--yellow);
                    font-weight: 500 ;
                }
            }
        }

        .newsletter-logo{
            height: auto;
            min-height: 100%;
            background: url("../img/el-contenedor-logo.svg") ;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        @include m.breakpoint(md) {
            grid-template-columns: 40% 60% ;
        }
        @include m.breakpoint(sm) {
            grid-template-columns: 1fr ;
            height: 30rem ;

            div {
                height: 15rem ;
                padding: 0 2rem 3rem ;
            }

            .newsletter-logo{
                min-height: 15rem;
                padding: 0 ;
                background-size: fill;
            }
        }
    }

}

.elcontenedor {
    div {
        iframe {
            width: 100% ;
            margin-top: 1rem ;
        }

        &:last-child {
            padding: 0 0 3rem;
        }

        h3 {
            margin-bottom: 1rem ;
        }

        p {
            line-height: 1.5rem ;
        }

        ol {
            counter-reset: item;
            margin: 0;
            padding-left: 0;
            list-style: none;

            li {
                position: relative;
                display: flex;
                align-items: flex-start;
                margin-bottom: 2rem;
                padding-left: 3rem;
                line-height: 2rem ;

                &::before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  content: counter(item);
                  counter-increment: item;
                  width: 2.2rem;
                  height: 2.2rem;
                  border-radius: 50%;
                  background: var(--green); // ajusta según tu paleta
                  color: var(--offwhite);
                  font-family: var(--text-font);
                  font-size: 1rem;
                  font-weight: 700;
                }

                h3 {
                  margin: 0 0 0.5rem;
                  color: var(--text-color);
                  font-size: 1.2rem;
                }

                p {
                  margin: 0;
                  color: var(--gray-dark);
                  line-height: 1.6;
                }
              }
        }
    }
}

