@use '../1-base/mixins' as m;

.project {
  .cover {
    position: relative;
    height: 70vh; width: 100% ;
    @include m.flex(column, center, center, nowrap);
    background-color: var(--color-backgrounds) ;
    > div {
      width: calc(100% - calc(var(--spacing-lg)*2)) ;
      height: 100% ;  
      position: relative ;
      overflow: hidden;
      background-color: gray ;
      border-radius: var(--radius-md);
      img {
        width: 100% ; height: 100% ;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
      }
      @include m.breakpoint(lg) {
        width: calc(100% - calc(var(--spacing-md)*2)) ;
      }
      @include m.breakpoint(md) {
        width: calc(100% - calc(var(--spacing-sm)*2)) ;
      }
    }
    @include m.breakpoint(lg) {
      height: 60vh;
    }
    @include m.breakpoint(md) {
      height: 50vh;
    }
  }

  .contenido {
    display: grid;
    grid-template-columns: 60% 40%; 
    gap: calc(var(--spacing-lg)*2); 
    grid-template-columns: repeat(2, 1fr); 
    p {
      color: var(--green);
      padding-right: 2rem ;
    }
    h2 {
      margin-bottom: 3rem ;
    }
    strong {
      font-weight: 600 ;
    }
    .datos {
      @include m.flex(row, flex-start, flex-start, nowrap, var(--spacing-sm));
      > div {
        background-color: var(--white);
        margin-right: 0 ;
        padding: var(--spacing-md);
        border-radius: 0 0 var(--radius-md) var(--radius-md);
        box-shadow: 0 3px 6px var(--color-shadow);
        > h4 {
          font-size: .8rem ;
          margin-bottom: .2rem ;
        }
        > a, p {
          font-family: var(--main-font);
          font-size: 1.1rem ;
          line-height: 1.1rem ;
          color: var(--darkgray);
          font-weight: 500 ;
          padding: 0 ;
        }
        &:first-child {
          border-radius: var(--radius-md) 0 var(--radius-md) var(--radius-md) ;
        }
        &:last-child {
          border-radius: 0 var(--radius-md) var(--radius-md) var(--radius-md) ;
        }
      }
    }
    &:first-child > div {
      padding-top: var(--pading-top-lg) ;
    }
    &:last-child > div {
      padding-top: var(--spacing-md);
      padding-bottom: var(--pading-top-lg) ;
    }
    .right-column {
      p {
        margin-bottom: 1.5rem ;
      }
    }
    @include m.breakpoint(lg) {
      //grid-template-columns: repeat(1, 1fr);
      gap: var(--spacing-md); 
      grid-template-columns: 55% 45%; 
      padding: var(--spacing-sm) ;
      .left-column, .right-column {
        padding: 0 ;
      }
      .datos {
        @include m.flex(row, flex-start, flex-start, nowrap, var(--spacing-sm));
        > div {
          margin-right: calc(var(--spacing-sm)/4);
          padding: var(--spacing-sm);
          border-radius: var(--radius-sm);
          > h4 {
            font-size: .6rem ;
            margin-bottom: .1rem ;
          }
          > a {
            font-size: .9rem ;
          }
        }
      }
    }
    @include m.breakpoint(md) {
      grid-template-columns: repeat(1, 1fr);
      gap: var(--spacing-sm); 
      padding: 0 2rem ;
      &:last-child > div {
        padding-bottom: 1rem ;
      }
      &:last-child > div:last-child {
        padding-bottom: 3rem ;
      }
      .left-column, .right-column {
        padding: 0 ;
      }
      h2 {
        margin-bottom: 1rem ;
      }
      .datos {
        @include m.flex(row, flex-start, flex-start, nowrap, calc(var(--spacing-sm)/2));
      }
    }
  }
  .galeria {
    background-color: var(--white);
    padding: var(--spacing-lg) ;
    .mCol-1 {
      width: 100%;
      margin-bottom: var(--spacing-md);
      border-radius: var(--radius-md);
      overflow: hidden ;
      img {
        width: 100% ; height: auto ;
        display: block ;
        object-fit: cover;
      }
    }
    .mText {
            padding: 4rem 0 4rem ;
          }
    .media {
      border-radius: var(--radius-md);
      margin-bottom: var(--spacing-md);
      overflow: hidden ;
    }
    /*@include m.breakpoint(lg) {
      display: none ;
    }*/
    @include m.breakpoint(lg) {
      padding: var(--spacing-md) ;
    }
    @include m.breakpoint(md) {
      padding: var(--spacing-sm) ;
    }
    .wp-block-columns {
      display: flex;
      flex-wrap: wrap; 
      gap: var(--spacing-md);
      margin-bottom: var(--spacing-md); 
      border-radius: var(--radius-md);
      overflow: hidden ;
      @include m.breakpoint(md) {
        border-radius: 0 ;
        .wp-block-column {
          &.mCol-2 {
            figure {
              border-radius: var(--radius-md);
              overflow: hidden ;
            }
          }
        }
      }
      .wp-block-column {
        flex-grow: 1; 
        flex-basis: auto; 
        &.mCol-2 {
          width: calc(50% - (var(--spacing-md) / 2)); 
          margin-bottom: var(--spacing-md);
          @include m.breakpoint(md) {
            figure {
              border-radius: var(--radius-md);
              overflow: hidden ;
            }
          }
        }

        &.mCol-3 {
          width: calc(33.33% - ((var(--spacing-md) / 3) * 2)); 
          margin-bottom: var(--spacing-md);
          border-radius: var(--radius-md);
          overflow: hidden ;
        }
        &.mCol-4 {
          width: calc(25% - ((var(--spacing-md) / 4) * 3)); 
          margin-bottom: var(--spacing-md);
          border-radius: var(--radius-md);
          overflow: hidden ;
        }
      }
      
    }
  }
  > div.btn-container {
    padding: 2.5rem 0 3.125rem 0 ;
  }
  
  @include m.breakpoint(lg) {
    --col-w: 100% ;
    > article {
      padding: 0 ;
      > img {
        width: 100% ;
      }
    }
  }
  @include m.breakpoint(md) {
    --col-w: 100% ;
    > article {
      padding: 0 ;
      > div.logo-cover {
        width: 100% ;
        margin: 0 0 0 0 ;
        padding: 0 ;
        > img {
          width: 100% ; height: auto ;
          display: block ;
          margin: 0 0 0 0 ;
        }
      }
      > img {
        width: 100% ; height: auto ;
        display: block ;
        margin: 0 0 0 0 ;
      }
      > div.contenido {
        width: 100% ;
        padding: 0 1.125rem ;
        > a.categoria {
          font-size: 1.125rem ;
          line-height: 1.125rem ;
        }
        h1 {
          font-size: 2rem ;
          line-height: 2.1rem ;
        }
        p {
          width: 100% ;
        }
      }
    }
    > div.btn-container {
      padding: 2.5rem 0 3.125rem 0 ;
    }
  }
}



