@use '../1-base/mixins' as m;

.team-wrapper {
    background-color: var(--darkgray);
    padding: calc(var(--pading-top-lg) * 2) 0;
    .team {
        width: calc(100% - calc(var(--spacing-lg)*2)) ;
      padding: 0 ;
        &__info {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: auto;
            gap: var(--spacing-md);
            > div {
                h2 {
                    color: var(--yellow);
                    font-weight: 500;
                    margin-bottom: 1rem;
                }
                h3 {
                    color: var(--orange);
                    font-weight: 500;
                    margin-bottom: 1rem;
                }
                p {
                    color: var(--white);
                }
                &:last-child {
                    padding-left: 3rem;
                    margin-bottom: 3rem;
                }
                video {
                    width: 100%;
                    height: auto;
                    border-radius: var(--radius-md);
                    overflow: hidden;
                }
            }
        }
        &__fotos {
            > ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: var(--spacing-md);
                padding-top: 3rem;
                > li {
                    article {
                        .perfil {
                            border-radius: var(--radius-md);
                            overflow: hidden;
                            margin-bottom: 2rem;
                        }
                        .perfil-texto {
                            padding-left: 2rem;
                            border-left: 1px solid var(--gray);
                            header {
                                h3 {
                                    color: var(--red);
                                    margin-bottom: .4rem;
                                }
                                > p {
                                    font-family: var(--main-font);
                                    color: var(--offwhite);
                                    font-size: clamp(.8rem, 1.7vw, 1rem);
                                    line-height: clamp(.8rem, 1.7vw, 1rem);
                                    font-weight: 300;
                                    margin-bottom: .4rem;
                                    display: inline-block;
                                }
                            }
                            p {
                                color: var(--offwhite);
                                font-size: clamp(.8rem, 1.7vw, 1rem);
                                line-height: clamp(.9rem, 1.7vw, 1.1rem);
                                font-weight: 300;
                            }
                            > ul {
                                @include m.flex(row, flex-start, flex-start, nowrap, .3rem);
                                padding-top: 1rem;
                                > li {
                                    margin-right: .4rem;
                                    a {
                                        i {
                                            font-size: 1.2rem;
                                            color: var(--green);
                                            transition: color .3s ease;
                                        }
                                        span {
                                            display: none;
                                        }
                                        &:hover > i {
                                            color: var(--red);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* =============================================
   Breakpoints
   ============================================= */

@include m.breakpoint(lg) {
    .team-wrapper .team {
        &__info div:last-child {
            padding-right: 3rem;
        }
        &__fotos > ul > li article .perfil-texto header > p {
            font-size: clamp(.8rem, 1.7vw, 1rem);
            line-height: clamp(.8rem, 1.7vw, 1rem);
        }
    }
}

@include m.breakpoint(md) {
    .team-wrapper {
        padding: var(--pading-top-md) var(--spacing-md);
        .team {
            &__info {
                grid-template-columns: 30% 70%;
            }
            &__fotos > ul {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@include m.breakpoint(sm) {
    .team-wrapper {
        padding: var(--pading-top-sm) var(--spacing-sm);
        .team {
            &__info {
                grid-template-columns: 1fr;
            }
            &__fotos {
                padding: 0;
                > ul {
                    grid-template-columns: repeat(2, 1fr);
                    > li {
                        .perfil {
                            border-radius: var(--radius-sm);
                            margin: 0;
                        }
                        .perfil-texto {
                            padding: 0;
                            border-left: 0;
                        }
                    }
                }
            }
        }
    }
}