@use "../1-base/mixins" as m;

.team-wrapper {
    padding: calc(var(--pading-top-lg) * 2) 0;
    background-color: var(--darkgray);

    .team {
        width: calc(100% - calc(var(--spacing-lg)*2)) ;
      padding: 0 ;

        &__info {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 40% 60%;
            gap: var(--spacing-md);

            > div {
                h2 {
                    margin-bottom: 1rem;
                    color: var(--yellow);
                    font-weight: 500;
                }

                h3 {
                    margin-bottom: 1rem;
                    color: var(--orange);
                    font-weight: 500;
                }

                p {
                    color: var(--white);
                }

                &:last-child {
                    margin-bottom: 3rem;
                    padding-left: 3rem;
                }

                video {
                    overflow: hidden;
                    width: 100%;
                    height: auto;
                    border-radius: var(--radius-md);
                }
            }
        }

        &__fotos {
            > ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: var(--spacing-md);
                padding-top: 3rem;

                > li {
                    article {
                        .perfil {
                            overflow: hidden;
                            margin-bottom: 2rem;
                            border-radius: var(--radius-md);
                        }

                        .perfil-texto {
                            padding-left: 2rem;
                            border-left: 1px solid var(--gray);

                            header {
                                h3 {
                                    margin-bottom: 0.4rem;
                                    color: var(--red);
                                }

                                > p {
                                    display: inline-block;
                                    margin-bottom: 0.4rem;
                                    color: var(--offwhite);
                                    font-family: var(--main-font);
                                    font-size: clamp(0.8rem, 1.7vw, 1rem);
                                    font-weight: 300;
                                    line-height: clamp(0.8rem, 1.7vw, 1rem);
                                }
                            }

                            p {
                                color: var(--offwhite);
                                font-size: clamp(0.8rem, 1.7vw, 1rem);
                                font-weight: 300;
                                line-height: clamp(0.9rem, 1.7vw, 1.1rem);
                            }

                            > ul {
                                @include m.flex(row, flex-start, flex-start, nowrap, 0.3rem);
                                padding-top: 1rem;

                                > li {
                                    margin-right: 0.4rem;

                                    a {
                                        i {
                                            transition: color 0.3s ease;
                                            color: var(--green);
                                            font-size: 1.2rem;
                                        }

                                        span {
                                            display: none;
                                        }

                                        &:hover > i {
                                            color: var(--red);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* =============================================
   Breakpoints
   ============================================= */

@include m.breakpoint(lg) {
    .team-wrapper .team {
        &__info div:last-child {
            padding-right: 3rem;
        }

        &__fotos > ul > li article .perfil-texto header > p {
            font-size: clamp(0.8rem, 1.7vw, 1rem);
            line-height: clamp(0.8rem, 1.7vw, 1rem);
        }
    }
}

@include m.breakpoint(md) {
    .team-wrapper {
        padding: var(--pading-top-md) var(--spacing-md);

        .team {
            &__info {
                grid-template-columns: 30% 70%;
            }

            &__fotos > ul {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@include m.breakpoint(sm) {
    .team-wrapper {
        padding: var(--pading-top-sm) var(--spacing-sm);

        .team {
            &__info {
                grid-template-columns: 1fr;
            }

            &__fotos {
                padding: 0;

                > ul {
                    grid-template-columns: repeat(2, 1fr);

                    > li {
                        .perfil {
                            margin: 0;
                            border-radius: var(--radius-sm);
                        }

                        .perfil-texto {
                            padding: 0;
                            border-left: 0;
                        }
                    }
                }
            }
        }
    }
}
