/* ******************************************************** */
/* ************************ RESOURCES ************************ */
/* ******************************************************** */

.thanks {
  position: relative ;
  $col-w: 600px ;
  $head-height: 450px ;
  > div.resource-header {
    width: 100% ; height: $head-height ;
    overflow: hidden ;
    > img {
      display: block;
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
    > div {
      width: 100% ; height: $head-height ;
      @include linearGradient(top, bottom, rgba(51,49,50,0), rgba(51,49,50,1));
      position: absolute ;
      top: 0 ; left: 0 ;
      > div.container {
        height: $head-height ;
        position: relative;
        > div {
          width: 100% ;
          position: absolute ;
          bottom: 0 ;
          padding: 0 0 80px 20px ;
          text-align: center ;
          > h1 {
            width: 100% ;
            color: $yellow ;
            font-family: $main-font ;
            font-size: 40px ;
            line-height: 42px ;
            margin-bottom: 10px ;
          }
          > p {
            width: 50% ;
            font-family: $text-font ;
            font-size: 14px ;
            line-height: 22px ;
            color: $white ;
            margin: 0 auto ;
          }
        }
      }
    }
  }
  > article {
    text-align: center ;
    > img {
      width: 100% ; height: auto ;
    }
    > div.contenido {
      padding: 30px 0 0 0 ;
      display: inline-block ;
      width: $col-w ;
      margin: 30px 0 30px 0 ;
      text-align: left ;
      h2 {
        font-family: $main-font ;
        font-size: 40px ;
        line-height: 44px ;
        margin: 0 0 20px 0 !important ;
        color: $yellow ;
      }
      > h3 {
        @extend h1 ;
        font-size: 28px ;
        line-height: 36px ;
        margin: 0 0 10px 0 ;
        color: $white ;
      }
      > h4 {
        @extend h2 ;
        font-size: 28px ;
        line-height: 30px ;
        color: $blue ;
        margin: 0 0 10px 0 ;
      }
      p {
        font-family: $text-font ;
        font-size: 16px ;
        line-height: 22px ;
        margin: 0 0 20px 0 ;
        color: $gray ;
        > a {
          color: $yellow ;
          &:hover {
            cursor: pointer ;
          }
        }
        > strong {
          font-weight: bold ;
          > a {
            color: $yellow ;
            &:hover {
              cursor: pointer ;
            }
          }
        }
        > em {
          font-style: italic ;
        }
      }
      > div.relacionado {
        ul {
          padding: 30px 0 0 0 ;
          overflow: auto ;
          li {
            @include boxGrid(2, 3%);
            float: left ;
            article {
              a:first-child {
                text-decoration: none ;
                img {
                  width: 100% ; height: auto ;
                  margin-bottom: 10px ;
                }
                h1 {
                  text-align: left ;
                  font-family: $main-font ;
                  font-size: 32px ;
                  line-height: 34px ;
                  margin: 0 0 10px 0 ;
                  color: $yellow ;
                }
                &:hover {
                  > h1 {
                    color: darken($yellow, 20%) ;
                    cursor: pointer ;
                  }
                }
              }
              > a:last-child {
                font-family: $main-font-regular ;
                font-size: 16px ;
                color: $yellow ;
                display: block ;
                &:hover {
                  text-decoration: none ;
                  color: darken($yellow, 20%) ;
                  cursor: pointer ;
                }
              }
              > p {
                font-size: 14px ;
                line-height: 20px ;
                text-align: left ;
              }

            }
          }
        }
      }
    }
  }
  div.opt-in {
    background-color: $black ;
    > div.bar {
      height: 40px ; width: 100% ;
      background-color: $yellow ;
    }
    > div.container {
      padding: 90px 0 70px 0;
      > small {
        font-family: $text-font ;
        font-size: 14px ;
        line-height: 14px !important ;
        color: $gray ;
        > a {

        }
      }
      div#mc_embed_signup {
        margin-bottom: 30px ;
        form {
          div.indicates-required {
            text-align: right ;
            font-family: $text-font ;
            font-size: 12px ;
            color: $gray ;
          }
          div.mc-field-group {
            margin-bottom: 10px ;
            label {
              font-family: $main-font ;
              font-size: 16px ;
              display: block ;
              color: $yellow ;
            }
            input {
              height: 40px ;
              width: 400px ;
              border: none ;
              padding: 5px 10px ;
              &[type="email"]{
                width: 500px ;
              }
            }
          }
          div.clear {
            margin-top: 30px ;
          }
        }
      }
    }
  }
}

/* ************************************************************************* */
/* ***************************** Media queries ***************************** */
/* ************************************************************************* */

.thanks {
  /* ***************************** Extra Large ***************************** */
  @include media-breakpoint-down(xl) {
  }

  /* ******************************** Large ***************************** */
  @include media-breakpoint-down(lg) {
    > div.resource-header {
      > div {
        > div.container {
          > div {
            width: 60% ;
          }
        }
      }
    }
  }

  /* ******************************** Medium ***************************** */
  @include media-breakpoint-down(md) {
    > div.resource-header {
      > div {
        > div.container {
          > div {
            width: 80% ;
          }
        }
      }
    }
    > article {
      > div.contenido {
        width: 100% ;
      }
    }
    div.opt-in {
      > div.container {
        padding: 30px 15px ;
        div#mc_embed_signup {
          margin-bottom: 30px ;
          form {
            div.mc-field-group {
              margin-bottom: 10px ;
              input {
                height: 40px ;
                width: 100% ;
                padding: 5px 10px ;
                &[type="email"]{
                  width: 100% ;
                }
              }
            }
            div.clear {
              margin-top: 30px ;
            }
          }
        }
        > small {
          font-size: 12px ;
          line-height: 10px !important ;
          > a {
            line-height: 10px ;
          }
        }
      }
    }
  }

  /* ********************************* Small ***************************** */
  @include media-breakpoint-down(sm) {
    > div.resource-header {
      $head-height: 350px ;
      height: $head-height ;
      > div {
        height: $head-height ;
        > div.container {
          height: $head-height ;
          > div {
            width: 90% ;
            bottom: 0 ; left: 0 ;
            padding: 0 0 60px 15px ;
            > h1 {
              font-size: 26px ;
              line-height: 28px ;
              margin-bottom: 25px ;
            }
            > p {
              font-size: 13px ;
              line-height: 16px ;
              margin-bottom: 0 ;
              top: -15px ;
            }
          }
        }
      }
    }
    > article {
      text-align: center ;
      > img {
        width: 100% ; height: auto ;
      }
      > div.contenido {
        padding: 0 0 0 0 ;
        margin: 20px 0 30px 0 ;
        h2 {
          font-size: 26px ;
          line-height: 28px ;
          margin: 0 0 15px 0 !important ;
          color: $yellow ;
        }
        > h3 {
          @extend h1 ;
          font-size: 20px ;
          line-height: 22px ;
          margin: 0 0 10px 0 ;
        }
        > h4 {
          @extend h2 ;
          font-size: 20px ;
          line-height: 22px ;
        }
        p {
          font-size: 13px ;
          line-height: 16px ;
          margin: 0 0 15px 0 ;
          > a {
            color: $yellow ;
            &:hover {
              cursor: pointer ;
            }
          }
          > strong {
            font-weight: bold ;
            > a {
              color: $yellow ;
              &:hover {
                cursor: pointer ;
              }
            }
          }
          > em {
            font-style: italic ;
          }
        }
        > div.relacionado {
          ul {
            li {
              article {
                a:first-child {
                  text-decoration: none ;
                  img {
                    width: 100% ; height: auto ;
                    margin-bottom: 10px ;
                  }
                  h1 {
                    font-size: 22px ;
                    line-height: 24px ;
                  }
                  &:hover {
                    > h1 {
                      color: darken($yellow, 20%) ;
                      cursor: pointer ;
                    }
                  }
                }
                > a:last-child {
                  font-size: 13px ;
                }
                > p {
                  font-size: 13px ;
                  line-height: 16px ;
                }
              }
            }
          }
        }
      }
    }
  }

  /* ******************************* Extra Small ***************************** */
  @include media-breakpoint-down(xs) {
  }
}
