/* ******************************************************** */
/* ************************ RESOURCES ************************ */
/* ******************************************************** */

@use "../1-base/mixins" as m;

.thanks {
  position: relative ;

  > div.resource-header {
    overflow: hidden ;
    width: 100% ;
 height: var(--head-height) ;

    > img {
      display: block;
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }

    > div {
      position: absolute ;
      top: 0 ;
 left: 0 ;
      width: 100% ;
 height: var(--head-height) ;
      background: linear-gradient(to bottom, rgba(51,49,50,0), rgba(51,49,50,1));

      > div.container {
        position: relative;
        height: var(--head-height) ;

        > div {
          position: absolute ;
          bottom: 0 ;
          width: 100% ;
          padding: 0 0 5rem 1.25rem ;
          text-align: center ;

          > h1 {
            width: 100% ;
            margin-bottom: 0.625rem;
            color: var(--yellow) ;
            font-family: var(--main-font) ;
            font-size: 2.5rem ;
            line-height: 2.6rem ;
          }

          > p {
            width: 50% ;
            margin: 0 auto ;
            color: var(--white) ;
            font-family: var(--text-font) ;
            font-size: 1rem ;
            line-height: 1.375rem ;
          }
        }
      }
    }
  }

  > article {
    text-align: center ;

    > img {
      width: 100% ;
 height: auto ;
    }

    > div.contenido {
      display: inline-block ;
      width: var(--col-w) ;
      margin: 1.875rem 0;
      padding: 1.875rem 0 0;
      text-align: left ;

      h2 {
        margin: 0 0 1.25rem !important ;
        color: var(--yellow) ;
        font-family: var(--main-font) ;
        font-size: 2.5rem ;
        line-height: 2.75rem ;
      }

      > h3 {
        @extend h1 ;
        margin: 0 0 1.25rem;
        color: var(--white) ;
        font-size: 1.75rem ;
        line-height: 2.25rem ;
      }

      > h4 {
        @extend h2 ;
        margin: 0 0 1.25rem;
        color: var(--blue) ;
        font-size: 1.75rem ;
        line-height: 1.875rem ;
      }

      p {
        margin: 0 0 1.25rem;
        color: var(--gray) ;
        font-family: var(--text-font) ;
        font-size: 1rem ;
        line-height: 1.37rem ;

        > a {
          color: var(--yellow) ;

          &:hover {
            cursor: pointer ;
          }
        }

        > strong {
          font-weight: 700 ;

          > a {
            color: var(--yellow) ;

            &:hover {
              cursor: pointer ;
            }
          }
        }

        > em {
          font-style: italic ;
        }
      }

      > div.relacionado {
        ul {
          overflow: auto ;
          padding: 1.875rem 0 0;

          li {
            //@include boxGrid(2, 3%);
            //float: left ;
            article {
              a:first-child {
                text-decoration: none ;

                img {
                  width: 100% ;
 height: auto ;
                  margin-bottom: 1.25rem ;
                }

                h1 {
                  margin: 0 0 1.25rem;
                  color: var(--yellow) ;
                  font-family: var(--main-font) ;
                  font-size: 2rem ;
                  line-height: 2.4rem ;
                  text-align: left ;
                }

                &:hover {
                  > h1 {
                    cursor: pointer ;
                    color: var(--darkyellow) ;
                  }
                }
              }

              > a:last-child {
                display: block ;
                color: var(--yellow) ;
                font-family: var(--main-font) ;
                font-size: 1rem ;

                &:hover {
                  cursor: pointer ;
                  color: var(--darkyellow) ;
                  text-decoration: none ;
                }
              }

              > p {
                font-size: 1rem ;
                line-height: 1.25rem ;
                text-align: left ;
              }

            }
          }
        }
      }
    }
  }

  div.opt-in {
    background-color: var(--black) ;

    > div.bar { width: 100% ;
      height: 2.5rem ;
      background-color: var(--yellow) ;
    }

    > div.container {
      padding: 90px 0 70px;

      > small {
        color: var(--gray) ;
        font-family: var(--text-font) ;
        font-size: 1rem ;
        line-height: 1.2rem !important ;
      }

      div#mc_embed_signup {
        margin-bottom: 1.875rem ;

        form {
          div.indicates-required {
            color: var(--gray) ;
            font-family: var(--text-font) ;
            font-size: 0.75rem;
            text-align: right ;
          }

          div.mc-field-group {
            margin-bottom: 1.25rem ;

            label {
              display: block ;
              color: var(--yellow) ;
              font-family: var(--main-font) ;
              font-size: 1rem ;
            }

            input {
              width: 25rem ;
              height: 2.5rem ;
              padding: 0.3rem 1.25rem;
              border: none ;

              &[type="email"]{
                width: 31.25rem ;
              }
            }
          }

          div.clear {
            margin-top: 1.87rem ;
          }
        }
      }
    }
  }
  @include m.breakpoint(md) {
    > div.resource-header {
      > div {
        > div.container {
          > div {
            width: 95% ;
            padding: 0 ;

            p {
              width: 100% ;
              margin: 0 ;
              padding: 0 15% ;
            }
          }
        }
      }
    }

    > article {
      > div.contenido {
        width: 100% ;
      }
    }

    div.opt-in {
      > div.container {
        padding: 30px 15px ;

        div#mc_embed_signup {
          margin-bottom: 30px ;

          form {
            div.mc-field-group {
              margin-bottom: 1.25rem ;

              input {
                width: 100% ;
                height: 2.5rem ;
                padding: 5px 1.25rem ;

                &[type="email"]{
                  width: 100% ;
                }
              }
            }

            div.clear {
              margin-top: 30px ;
            }
          }
        }

        > small {
          font-size: 12px ;
          line-height: 1.25rem !important ;

          > a {
            line-height: 1.25rem ;
          }
        }
      }
    }
  }
}


/* ************************************************************************* */
/* ***************************** Media queries ***************************** */
/* ************************************************************************* */
/*
.thanks {

  @include media-breakpoint-down(lg) {
    > div.resource-header {
      > div {
        > div.container {
          > div {
            width: 60% ;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {

  }

  @include media-breakpoint-down(sm) {
    > div.resource-header {
      var(--head-height): 350px ;
      height: var(--head-height) ;
      > div {
        height: var(--head-height) ;
        > div.container {
          height: var(--head-height) ;
          > div {
            width: 90% ;
            bottom: 0 ; left: 0 ;
            padding: 0 0 60px 15px ;
            > h1 {
              font-size: 26px ;
              line-height: 1.75rem ;
              margin-bottom: 25px ;
            }
            > p {
              font-size: 13px ;
              line-height: 16px ;
              margin-bottom: 0 ;
              top: -15px ;
            }
          }
        }
      }
    }
    > article {
      text-align: center ;
      > img {
        width: 100% ; height: auto ;
      }
      > div.contenido {
        padding: 0 0 0 0 ;
        margin: 1.25rem 0 30px 0 ;
        h2 {
          font-size: 26px ;
          line-height: 1.75rem ;
          margin: 0 0 15px 0 !important ;
          color: var(--yellow) ;
        }
        > h3 {
          @extend h1 ;
          font-size: 1.25rem ;
          line-height: 22px ;
          margin: 0 0 1.25rem 0 ;
        }
        > h4 {
          @extend h2 ;
          font-size: 1.25rem ;
          line-height: 22px ;
        }
        p {
          font-size: 13px ;
          line-height: 16px ;
          margin: 0 0 15px 0 ;
          > a {
            color: var(--yellow) ;
            &:hover {
              cursor: pointer ;
            }
          }
          > strong {
            font-weight: bold ;
            > a {
              color: var(--yellow) ;
              &:hover {
                cursor: pointer ;
              }
            }
          }
          > em {
            font-style: italic ;
          }
        }
        > div.relacionado {
          ul {
            li {
              article {
                a:first-child {
                  text-decoration: none ;
                  img {
                    width: 100% ; height: auto ;
                    margin-bottom: 1.25rem ;
                  }
                  h1 {
                    font-size: 22px ;
                    line-height: 24px ;
                  }
                  &:hover {
                    > h1 {
                      color: darken($yellow, 20%) ;
                      cursor: pointer ;
                    }
                  }
                }
                > a:last-child {
                  font-size: 13px ;
                }
                > p {
                  font-size: 13px ;
                  line-height: 16px ;
                }
              }
            }
          }
        }
      }
    }
  }

}*/
