// ********** BG Image ********** //
@mixin backImage($image,
  $height: 100vh,
  $bgPos: center center
  ) {
  background: linear-gradient( to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,.6)),
    url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  background-size: cover;
  height: $height;
}

// ********** Box Grid ********** //
@mixin boxGrid($qty, $margin) {
  $w: ((100% - (($qty - 1) * $margin))/$qty);
  width: $w ; //height: $w ;
  &:nth-child(n) {
    margin-right: $margin;
    margin-bottom: $margin;
  }
  &:nth-child(#{$qty}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

// ********** Clearfix ********** //
@mixin clearfix {
  &:before, &:after {
    content:'';
    display: table ;
  }
  &:after {
    clear: both ;
  }
}

// ********** Linear Gradient ********** //
@mixin linearGradient($top, $bottom, $color1, $color2 ){
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient($top,  $color1 0%, $color2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left $top, left $bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient($top,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient($top,  $color1 0%,$color2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient($top,  $color1 0%,$color2 100%); /* IE10+ */
    background: linear-gradient(to $bottom,  $color1 0%,$color2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
