// Load Fonts

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto+Slab|Roboto:300,400,700&display=swap');

$main-font: 'Bree Serif', Georgia, "Times New Roman", Times, serif;
$main-font-regular: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
$text-font: 'Roboto', Helvetica, Arial, Verdana, sans-serif;

// Colours

$black:       #000000;
$darkgray:    #333132;
$gray:        #B1B3B6;
$lightgray:   #D3D3D3;

$red:         #FF1F1F;
$blue:        #007C89;
$yellow:      #FFA000;
$white:       #FFFFFF;

$color-main: $red;
$color-backgrounds: $darkgray;


// HEADER

$menu-h: 60px ;
$nav-h: $menu-h - 30 ;
$nav-padding: 15px ;

// FOOTER

$footer-h: 60px ;

// BC img

$bc-img-h: 120px ;
