// Load Fonts

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:300,400,500,700');

$font-main: 'Roboto', Helvetica, Arial, Verdana, sans-serif;
$font-title: 'Bree Serif', Georgia, "Times New Roman", Times, serif;

// Colours

$black:       #000000;
$darkgray:    #333132;
$gray:        #B1B3B6;
$lightgray:   #D3D3D3;

$red:         #FF1F1F;
$blue:        #007C89;
$yellow:      #FFA000;
$white:       #FFFFFF;

$color-main: $red;
$color-backgrounds: $darkgray;


// medidas
