<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compratible" content="IE=edge" >
		<meta name="viewport" content="width=device-width, initial-scale-1">
    <title>El Blog | Mostay</title>
    <meta name="description" content="" />
		<meta name="author" content="SitePoint" />
		<!-- [if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script> <![endif] -->
		<link rel="shortcut icon" href="img/favicon.ico">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <!-- ********************** header ********************** -->
    <header>
      <h1><a href="index.html"><span>Mostay</span></a></h1>
      <nav>
        <ul>
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Portafolio</a></li>
          <li><a href="#">Tienda</a></li>
          <li><a href="#">Info</a></li>
        </ul>
      </nav>
      <div class="social-networks">
        <ul>
          <li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
        </ul>
      </div>
    </header>

    <section class="breadcrumb-espacio">
      <div class="bc-img">
        <img src="img/breadcrumb-bg.jpg" alt="El Blog">
        <span class="bc-gradient"></span>
      </div>
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li>/</li>
            <li class="breadcrumb-item active"><a href="#">Blog</a></li>
          </ol>
        </nav>
      </div>
    </section>

    <!-- ********************** resumen de posts ********************** -->
		<section class="blog">
			<div class="container">
				<div class="titulo">
					<h1>El Blog</h1>
					<p>Encuentra información sobre diseño y las ultimas noticias sobre el branding y el diseño web.</p>
				</div>
				<ul>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">El Social Media Week en CDMX.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">Como crear tu marca personal.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">Anatomía de un sitio web.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
          <li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">El Social Media Week en CDMX.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">Como crear tu marca personal.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">Anatomía de un sitio web.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
          <li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">El Social Media Week en CDMX.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">Como crear tu marca personal.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="#" alt="imagen del articulo">
							</a>
							<h1><a href="#">Anatomía de un sitio web.</a></h1>
							<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
							<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
						</article>
					</li>
				</ul>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
			</div>
		</section>


    <!-- ********************** footer ********************** -->
		<footer>
			<h1><a href="#" alt="Mostay"><span>Mostay</span></a></h1>
			<div class="social-networks footer">
				<ul>
					<li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
				</ul>
			</div>
		</footer>

		<!-- ********************** Preloader ********************** -->
		<div id="preloader">
		  <div id="status">&nbsp;</div>
		</div>

		<!-- ********************** scripts ********************** -->
		<script src="js/jquery.min.js"></script>
		<script src="js/script-min.js"></script>
  </body>
</html>
