<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compratible" content="IE=edge" >
		<meta name="viewport" content="width=device-width, initial-scale-1">
		<title> Site Title </title>
		<meta name="description" content="" />
		<meta name="author" content="SitePoint" />
		<!-- [if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script> <![endif] -->
		<link rel="shortcut icon" href="favicon.ico">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<!-- header -->
		<header></header>
		<!-- footer -->
		<footer></footer>
		<!-- Preloader -->
		<div id="preloader">
		  <div id="status">&nbsp;</div>
		</div>
		<!-- scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="https://use.fontawesome.com/fe56756232.js"></script>
		<script src="js/script-min.js"></script>
	<body>
</html>
