<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compratible" content="IE=edge" >
		<meta name="viewport" content="width=device-width, initial-scale-1">
		<title> Mostay </title>
		<meta name="description" content="" />
		<meta name="author" content="SitePoint" />
		<!-- [if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script> <![endif] -->
		<link rel="shortcut icon" href="img/favicon.ico">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>

		<!-- ********************** header ********************** -->
		<header>
			<h1><a href="index.html"><span>Mostay</span></a></h1>
			<nav class="nav-main">
				<ul>
					<li><a href="cursos.html">Cursos</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li>
						<a href="portafolio.html">Portafolio</a>
						<ul>
							<li><a href="portafolio.html">Trabajos</a></li>
							<li><a href="portafolio.html">Casos de Estudio</a></li>
							<li><a href="portafolio.html">Experimentales</a></li>
						</ul>
					</li>
					<li><a href="#">Tienda</a></li>
					<li>
						<a href="#">Info</a>
						<ul>
							<li><a href="page-about.html">Nosotros</a></li>
							<li><a href="page-template.html">Terminos y Condiciones</a></li>
							<li><a href="#">Preguntas Frecuentes</a></li>
							<li><a href="page-contact.html">Contacto</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<ul id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn">×</a>
				<li><a href="cursos.html">Cursos</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li>
					<a href="portafolio.html">Portafolio</a>
					<ul>
						<li><a href="portafolio.html">Trabajos</a></li>
						<li><a href="portafolio.html">Casos de Estudio</a></li>
						<li><a href="portafolio.html">Experimentales</a></li>
					</ul>
				</li>
				<li><a href="#">Tienda</a></li>
				<li>
					<a href="#">Info</a>
					<ul>
						<li><a href="#">Nosotros</a></li>
						<li><a href="#">Terminos y Condiciones</a></li>
						<li><a href="#">Preguntas Frecuentes</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</li>
				<li>
					<p>Redes Sociales</p>
					<ul>
						<li><a href="#">Instagram</a></li>
						<li><a href="#">Youtube</a></li>
						<li><a href="#">LinkedIn</a></li>
						<li><a href="#">behance</a></li>
						<li><a href="#">Facebook</a></li>
					</ul>
				</li>
			</ul>
			<button class="nav navbutton" type="button" name="button"><i class="fas fa-bars"></i></button>

			<div class="social-networks">
				<ul>
					<li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
				</ul>
			</div>
		</header>

		<!-- ********************** slider ********************** -->
		<section class="mostay-cartelera">
			<ul class="home-slider">
			  <li>
					<img src="https://dummyimage.com/1920x1080/7d7d7d/000000.jpg" alt="image">
					<div>
						<div class="container">
							<div>
								<strong>Diseño Web</strong>
								<h1>10 formas de aprovechar Adobe Experience Design.</h1>
								<h2>Por Angel Montiel</h2>
								<a class="btn-verde" href="#" alt="nombre del boton">Ver Artículo</a>
							</div>
						</div>
					</div>
				</li>
			  <li>
					<img src="https://dummyimage.com/1920x1080/7d7d56/000000.jpg" alt="image">
					<div>
						<div class="container">
							<div>
								<strong>Diseño Web</strong>
								<h1>10 formas de aprovechar Adobe Experience Design.</h1>
								<h2>Por Angel Montiel</h2>
								<a class="btn-verde" href="#" alt="nombre del boton">Ver Artículo</a>
							</div>
						</div>
					</div>
				</li>
			  <li>
					<img src="https://dummyimage.com/1920x1080/7d7d34/000000.jpg" alt="image">
					<div>
						<div class="container">
							<div>
								<strong>Diseño Web</strong>
								<h1>10 formas de aprovechar Adobe Experience Design.</h1>
								<h2>Por Angel Montiel</h2>
								<a class="btn-verde" href="#" alt="nombre del boton">Ver Artículo</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<img src="https://dummyimage.com/1920x1080/7d7d34/000000.jpg" alt="image">
					<div>
						<div class="container">
							<div>
								<strong>Diseño Web</strong>
								<h1>10 formas de aprovechar Adobe Experience Design.</h1>
								<h2>Por Angel Montiel</h2>
								<a class="btn-verde" href="#" alt="nombre del boton">Ver Artículo</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</section>

		<!-- ********************** resumen de posts ********************** -->
		<section class="blog">
			<div class="container">
				<div class="titulo">
					<h1>El blog</h1>
					<p>Encuentra información sobre diseño y las ultimas noticias sobre el branding y el diseño web.</p>
				</div>
				<ul>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
							</a>
							<div>
								<h1><a href="#">El Social Media Week en CDMX.</a></h1>
								<time datetime="2020-02-14">23 de Febrero de 2019</time>
								<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
							</a>
							<div>
								<h1><a href="#">El Social Media Week en CDMX.</a></h1>
								<time datetime="2020-02-14">23 de Febrero de 2019</time>
								<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
							</a>
							<div>
								<h1><a href="#">El Social Media Week en CDMX.</a></h1>
								<time datetime="2020-02-14">23 de Febrero de 2019</time>
								<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
				</ul>
				<div class="btn-container">
					<a href="#" class="btn btn-blanco">Ver Todos</a>
				</div>

			</div>
		</section>

		<!-- ********************** los cursos ********************** -->
		<section class="cursos cursos-home">
			<div class="bar"></div>
			<div class="banner-cursos">
				<img src="https://dummyimage.com/1920x600/878787/a1a1a1.jpg" alt="">
				<div>
					<div class="container">
						<h1>Los Cursos</h1>
						<p>Aprende con la lista de cursos sobre diseño gráfico,<br> Branding y Diseño web.</p>
						<a class="btn-verde" href="#">Ver Cursos</a>
					</div>
				</div>
			</div>
			<div class="container">
				<ul>
					<li>
						<article class="curso-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
							</a>
							<div>
								<h2><a href="#">Branding</a></h2>
								<h1><a href="#">Crear tu Marca Personal</a></h1>
								<p>Crear una marca es más que hacer el logo, es la comunicación, los valores, los objetivos, es decir que hay muchos factores que hay que tomar en cuenta a la hora de crear una marca, aquí aprenderás a crear una desde cero.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
					<li>
						<article class="curso-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
							</a>
							<div>
								<h2><a href="#">Organización</a></h2>
								<h1><a href="#">Curso Esencial de Notion</a></h1>
								<p>Crear una marca es más que hacer el logo, es la comunicación, los valores, los objetivos, es decir que hay muchos factores que hay que tomar en cuenta a la hora de crear una marca, aquí aprenderás a crear una desde cero.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
					<li>
						<article class="curso-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
							</a>
							<div>
								<h2><a href="#">Marketing</a></h2>
								<h1><a href="#">Introducción a la Creación de Contenido</a></h1>
								<p>Crear una marca es más que hacer el logo, es la comunicación, los valores, los objetivos, es decir que hay muchos factores que hay que tomar en cuenta a la hora de crear una marca, aquí aprenderás a crear una desde cero.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
				</ul>
				<div class="btn-container">
					<a href="#" class="btn-verde">Ver Todos</a>
				</div>
			</div>
		</section>


		<!-- **********************portafolio ********************** -->
		<section class="portafolio portafolio-home">
			<div class="bar"></div>
			<div class="container">
				<div class="titulo">
					<h1>Los Casos de Estudio</h1>
					<p>Ve todo lo que implica el desarrollo de cada proyecto que hacemos en mostay.</p>
				</div>
				<ul id="primero" class="casos">
					<li>
						<article class="casos-lista">
							<a href="page-cases.html">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>

					<li>
						<article class="casos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
					<li>
						<article class="casos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
				</ul>
				<div class="btn-container">
					<a href="#" class="btn btn-blanco">Ver Todos</a>
				</div>
				<div class="titulo">
					<h1>Los Trabajos</h1>
					<p>Conoce todos los proyectos que hemos desarrollado en branding y desarrollo web.</p>
				</div>
				<ul id="ultimo" class="casos">
					<li>
						<article class="trabajos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
					<li>
						<article class="trabajos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
					<li>
						<article class="trabajos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
					<li>
						<article class="trabajos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
					<li>
						<article class="trabajos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
					<li>
						<article class="trabajos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="imagen del articulo">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
				</ul>
				<div class="btn-container">
					<a href="#" class="btn btn-blanco">Ver Todos</a>
				</div>
			</div>

		</section>

		<!-- ********************** footer ********************** -->
		<footer>
			<div class="container">
				<h1><a href="index.html" alt="Mostay"><span>Mostay</span></a></h1>
				<small>Todos los derechos reservados 2025.</small>
					<div class="social-networks footer">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
						</ul>
					</div>
			</div>
		</footer>

		<!-- ********************** Preloader ********************** -->
		<!-- <div id="preloader">
		  <div id="status">&nbsp;</div>
		</div> -->

		<!-- scripts -->
		<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/64747c8ad2.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="slick/slick.min.js"></script>
		<script src="js/script-min.js"></script>
	<body>
</html>
