<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compratible" content="IE=edge" >
		<meta name="viewport" content="width=device-width, initial-scale-1">
		<title> Mostay </title>
		<meta name="description" content="" />
		<meta name="author" content="SitePoint" />
		<!-- [if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script> <![endif] -->
		<link rel="shortcut icon" href="img/favicon.ico">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<!-- header -->
		<header>
			<h1><a href="#"><span>Mostay</span></a></h1>
			<nav>
				<ul>
					<li><a href="#">Cursos</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Portafolio</a></li>
					<li><a href="#">Tienda</a></li>
					<li><a href="#">Info</a></li>
				</ul>
			</nav>
			<div class="social-networks">
				<ul>
					<li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></i><span>Instagram</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-behance-square"></i></i><span>Behance</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
				</ul>
			</div>
		</header>
		<section class="home"></section>

		<!-- footer -->
		<footer></footer>
		<!-- Preloader -->
		<div id="preloader">
		  <div id="status">&nbsp;</div>
		</div>
		<!-- scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/script-min.js"></script>
	<body>
</html>
