<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compratible" content="IE=edge" >
		<meta name="viewport" content="width=device-width, initial-scale-1">
    <title>El Blog | Mostay</title>
    <meta name="description" content="" />
		<meta name="author" content="SitePoint" />
		<!-- [if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script> <![endif] -->
		<link rel="shortcut icon" href="img/favicon.ico">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <!-- ********************** header ********************** -->
    <header>
			<h1><a href="index.html"><span>Mostay</span></a></h1>
			<nav class="nav-main">
				<ul>
					<li><a href="cursos.html">Cursos</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li>
						<a href="portafolio.html">Portafolio</a>
						<ul>
							<li><a href="portafolio.html">Trabajos</a></li>
							<li><a href="portafolio.html">Casos de Estudio</a></li>
							<li><a href="portafolio.html">Experimentales</a></li>
						</ul>
					</li>
					<li><a href="#">Tienda</a></li>
					<li>
						<a href="#">Info</a>
						<ul>
							<li><a href="#">Nosotros</a></li>
							<li><a href="page-template.html">Terminos y Condiciones</a></li>
							<li><a href="#">Preguntas Frecuentes</a></li>
							<li><a href="#">Contacto</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<ul id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn">×</a>
				<li><a href="cursos.html">Cursos</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li>
          <a href="portafolio.html">Portafolio</a>
					<ul>
						<li><a href="portafolio.html">Trabajos</a></li>
						<li><a href="portafolio.html">Casos de Estudio</a></li>
						<li><a href="portafolio.html">Experimentales</a></li>
					</ul>
				</li>
				<li><a href="#">Tienda</a></li>
				<li>
					<a href="#">Info</a>
					<ul>
						<li><a href="#">Nosotros</a></li>
						<li><a href="#">Terminos y Condiciones</a></li>
						<li><a href="#">Preguntas Frecuentes</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</li>
				<li>
					<p>Redes Sociales</p>
					<ul>
						<li><a href="#">Instagram</a></li>
						<li><a href="#">Youtube</a></li>
						<li><a href="#">LinkedIn</a></li>
						<li><a href="#">behance</a></li>
						<li><a href="#">Facebook</a></li>
					</ul>
				</li>
			</ul>
			<button class="nav navbutton" type="button" name="button"><i class="fas fa-bars"></i></button>

			<div class="social-networks">
				<ul>
					<li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
				</ul>
			</div>
		</header>


    <section class="breadcrumb-espacio about">
      <div class="bc-img">
        <img src="img/breadcrumb-bg.jpg" alt="El Blog">
        <span class="bc-gradient"></span>
      </div>
    </section>

    <!-- ********************** resumen de posts ********************** -->
		<section class="project">
			<article class="container">
        <div class="contenido">
          <h1>Contacto</h1>
          <p>
            Facilisis aliquam cursus <strong>montes dolor!</strong> Natoque maecenas auctor tincidunt fringilla justo justo adipiscing eu ante nec adipiscing. Conubia himenaeos nascetur elementum quam facilisi laoreet orci odio lacus sodales ligula sociosqu. Dictum ad eros amet nascetur orci porta tortor luctus montes ad. Hac curabitur, convallis potenti natoque. Scelerisque pharetra faucibus lectus in tempor nam nec fermentum cum. Odio ante tristique mauris! Diam, ac tortor risus himenaeos pellentesque a libero cursus tortor ipsum. Ultrices sodales venenatis donec consectetur lectus nec class etiam erat tortor.
          </p>
        </div>


			</article>
      <div class="btn-container">
        <a href="#" class="btn btn-blanco"><i class="fas fa-envelope"></i><span> Envíame un Correo</span></a>
        <a href="#" class="btn btn-blanco"><i class="fab fa-instagram"></i><span> DM</span></a>
      </div>
		</section>

    <!-- **********************portafolio ********************** -->
		<section class="portafolio portafolio-destacado">
			<div class="bar"></div>
			<div class="container">
				<div class="titulo">
					<h1>Otros Proyectos</h1>
					<p>Ve todo lo que implica el desarrollo de cada proyecto que hacemos en mostay.</p>
				</div>
				<ul id="primero" class="casos">
					<li>
						<article class="casos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="Proyecto de diseño - Mostay" loading="lazy" decoding="async">
								<span>
									<span>
										<h2>Caso de Estudio</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>

					<li>
						<article class="casos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="Proyecto de diseño - Mostay" loading="lazy" decoding="async">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
					<li>
						<article class="casos-lista">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="Proyecto de diseño - Mostay" loading="lazy" decoding="async">
								<span>
									<span>
										<h2>Branding</h2>
										<h1>Nombre del curso</h1>
										<p>Una pequeña descripción del proyecto, de unas dos lineas.</p>
										<i class="fas fa-arrow-circle-right"></i>
									</span>
								</span>
							</a>
						</article>
					</li>
				</ul>
				<div class="btn-container">
					<a href="#" class="btn btn-blanco">Ver Todos</a>
				</div>
			</div>

		</section>


    <!-- ********************** footer ********************** -->
		<footer>
      <div class="container">
        <h1><a href="index.html" alt="Mostay"><span>Mostay</span></a></h1>
        <small>Todos los derechos reservados 2019.</small>
  			<div class="social-networks footer">
  				<ul>
  					<li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
  					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
  					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
  					<li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
  					<li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
  				</ul>
  			</div>
      </div>
		</footer>

		<!-- ********************** Preloader ********************** -->
		<!-- <div id="preloader">
		  <div id="status">&nbsp;</div>
		</div> -->

		<!-- ********************** scripts ********************** -->
		<script src="js/jquery.min.js"></script>
		<script src="js/script-min.js"></script>
  </body>
</html>
