<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compratible" content="IE=edge" >
		<meta name="viewport" content="width=device-width, initial-scale-1">
    <title>El Blog | Mostay</title>
    <meta name="description" content="" />
		<meta name="author" content="SitePoint" />
		<!-- [if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script> <![endif] -->
		<link rel="shortcut icon" href="img/favicon.ico">
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <!-- ********************** header ********************** -->
    <header>
			<h1><a href="index.html"><span>Mostay</span></a></h1>
			<nav class="nav-main">
				<ul>
					<li><a href="cursos.html">Cursos</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li>
						<a href="portafolio.html">Portafolio</a>
						<ul>
							<li><a href="portafolio.html">Trabajos</a></li>
							<li><a href="portafolio.html">Casos de Estudio</a></li>
							<li><a href="portafolio.html">Experimentales</a></li>
						</ul>
					</li>
					<li><a href="#">Tienda</a></li>
					<li>
						<a href="#">Info</a>
						<ul>
							<li><a href="#">Nosotros</a></li>
							<li><a href="#">Terminos y Condiciones</a></li>
							<li><a href="#">Preguntas Frecuentes</a></li>
							<li><a href="#">Contacto</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<ul id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn">×</a>
				<li><a href="cursos.html">Cursos</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li>
          <a href="portafolio.html">Portafolio</a>
					<ul>
						<li><a href="portafolio.html">Trabajos</a></li>
						<li><a href="portafolio.html">Casos de Estudio</a></li>
						<li><a href="portafolio.html">Experimentales</a></li>
					</ul>
				</li>
				<li><a href="#">Tienda</a></li>
				<li>
					<a href="#">Info</a>
					<ul>
						<li><a href="#">Nosotros</a></li>
						<li><a href="#">Terminos y Condiciones</a></li>
						<li><a href="#">Preguntas Frecuentes</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</li>
				<li>
					<p>Redes Sociales</p>
					<ul>
						<li><a href="#">Instagram</a></li>
						<li><a href="#">Youtube</a></li>
						<li><a href="#">LinkedIn</a></li>
						<li><a href="#">behance</a></li>
						<li><a href="#">Facebook</a></li>
					</ul>
				</li>
			</ul>
			<button class="nav navbutton" type="button" name="button"><i class="fas fa-bars"></i></button>

			<div class="social-networks">
				<ul>
					<li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
				</ul>
			</div>
		</header>


    <section class="breadcrumb-espacio">
      <div class="bc-img">
        <img src="img/breadcrumb-bg.jpg" alt="El Blog">
        <span class="bc-gradient"></span>
      </div>
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li>/</li>
            <li class="breadcrumb-item active"><a href="#">Blog</a></li>
          </ol>
        </nav>
      </div>
    </section>

    <!-- ********************** resumen de posts ********************** -->
		<section class="single">
			<article class="container">
        <img src="https://dummyimage.com/1200x600/b1b3b6/000000.jpg" alt="imagen principal">
        <div class="contenido">
          <a class="categoria" href="#">Branding</a>
          <h1>Social Media Week en CDMX</h1>
          <time datetime="2020-05-27">27 de Mayo de 2020</time>
          <p>
            Facilisis aliquam cursus <strong>montes dolor!</strong> Natoque maecenas auctor tincidunt fringilla justo justo adipiscing eu ante nec adipiscing. Conubia himenaeos nascetur elementum quam facilisi laoreet orci odio lacus sodales ligula sociosqu. Dictum ad eros amet nascetur orci porta tortor luctus montes ad. Hac curabitur, convallis potenti natoque. Scelerisque pharetra faucibus lectus in tempor nam nec fermentum cum. Odio ante tristique mauris! Diam, ac tortor risus himenaeos pellentesque a libero cursus tortor ipsum. Ultrices sodales venenatis donec consectetur lectus nec class etiam erat tortor.
          </p>
          <h2>Subtitulo 01</h2>
          <ul>
            <li><a href="#">Item 01</a></li>
            <li>Item 01</li>
            <li><a href="#">Item 01</a></li>
            <li>Item 01</li>
            <li><a href="#">Item 01</a></li>
          </ul>
          <strong>
            Facilisis aliquam cursus montes dolor! Natoque maecenas auctor tincidunt fringilla justo justo adipiscing eu ante nec adipiscing. Conubia himenaeos nascetur elementum quam facilisi laoreet orci odio lacus sodales ligula sociosqu. Dictum ad eros amet nascetur orci porta tortor luctus montes ad. Hac curabitur, convallis potenti natoque. Scelerisque pharetra faucibus lectus in tempor nam nec fermentum cum. Odio ante tristique mauris! Diam, ac tortor risus himenaeos pellentesque a libero cursus tortor ipsum. Ultrices sodales venenatis donec consectetur lectus nec class etiam erat tortor.
          </strong>
          <iframe width="100%" height="360px" src="https://www.youtube.com/embed/DLSX6ruOE3w" frameborder="0" allowfullscreen class="video"></iframe>

          <p>
            Cursus fames, <a href="#">imperdiet rutrum natoque tellus</a>. Morbi sollicitudin viverra fames laoreet. Lorem curabitur id nibh eu. Consequat mattis enim ac sodales orci scelerisque mauris rhoncus lacinia congue. Felis fusce cursus non praesent dui nec hac augue quisque tempus. Montes scelerisque neque felis sit urna, consequat et ac iaculis vitae per consequat. Amet eleifend a diam volutpat ornare senectus eros dictumst. Cum per hendrerit viverra pharetra.
          </p>
          <figure class="wp-block-image size-large">
            <img src="https://dummyimage.com/1200x600/b1b3b6/000000.jpg" alt="" class="wp-image-187">
            <figcaption>Based on the connotation of the word manifesto, we appropriate the timeless.</figcaption>
          </figure>
          <blockquote cite="http://www.worldwildlife.org/who/index.html">
            "Lobortis sit facilisis <a href="#">nullam sociosqu</a>. Convallis habitant facilisis congue dolor duis auctor, interdum nec at montes egestas. Cum consequat fringilla netus bibendum pharetra. Mollis vulputate fermentum at hendrerit scelerisque id vestibulum facilisis rutrum rhoncus arcu conubia. Per aliquam ornare elementum tellus, tortor varius aliquam commodo nostra aliquam et orci! Feugiat magnis laoreet varius urna, tristique facilisi. Mattis nibh varius curabitur conubia auctor gravida vivamus in? Viverra commodo elementum molestie. <strong>Habitasse ligula orci himenaeos</strong> dignissim purus venenatis lacinia magnis! Leo lobortis fringilla eleifend turpis."
          </blockquote>
          <h3>Subtitulo 02</h3>
          <p>
            Feugiat odio dapibus dui leo cursus adipiscing penatibus phasellus at eu etiam rhoncus. Phasellus turpis faucibus id potenti cursus faucibus porttitor rutrum cras! Accumsan dictum cras risus mauris enim interdum varius dis ultrices. Aenean hac neque adipiscing arcu. Per sapien pellentesque turpis massa nunc dictumst scelerisque lacus nullam scelerisque cursus neque. Sit pellentesque duis purus feugiat vulputate proin montes sem himenaeos posuere potenti taciti. Ipsum massa risus elit.
          </p>
          <ol>
            <li><a href="#">Item 01</a></li>
            <li>Item 01</li>
            <li><a href="#">Item 01</a></li>
            <li>Item 01</li>
            <li><a href="#">Item 01</a></li>
          </ol>
          <h4>Subtitulo 02</h4>
          <p>
            Nulla posuere adipiscing urna proin ligula eleifend bibendum curabitur laoreet suspendisse faucibus congue! Parturient potenti sollicitudin tortor rutrum. Consequat dis platea per purus eros maecenas habitant nec. Quam ante ut dictum justo mollis habitasse elementum porttitor tempus convallis. Feugiat leo suspendisse curabitur pretium ullamcorper feugiat. Dolor convallis pharetra ante integer porta inceptos mauris suspendisse.
          </p>
        </div>
        <div class="tags">
          <strong>Tags: </strong>
          <a href="#">branding</a>,
          <a href="#">Cursos</a>,
          <a href="#">Youtube</a>,
          <a href="#">Ilustración</a>,
          <a href="#">Marca Personal</a>,
        </div>
        <div class="autor">
          <img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="Miembro del equipo - Mostay" loading="lazy" decoding="async">
          <span>
            <em>Autor</em>
            <h2><a href="#">Ángel Montiel</a></h2>
            <strong>Brand Designer</strong>
            <p>Based on the connotation of the word manifesto, we appropriate the timeless  nature of the craft of writing and the many stories that found their genesis in  these machines.</p>
            <ul class="autor-rs">
              <li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
              <li><a href="#" target="_blank"><i class="fas fa-basketball-ball"></i></i><span>Dribbble</span></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i><span>LinkedIn</span></a></li>
            </ul>
          </span>
        </div>
			</article>
      <div class="btn-container">
        <a href="#" class="btn btn-blanco">Volver al Blog</a>
      </div>
		</section>

    <!-- ********************** Featured ********************** -->
    <section class="blog featured-posts">
      <div class="bar"></div>
			<div class="container">
				<div class="titulo">
					<h1>Posts Relacionados.</h1>
					<p>También puedes ver el resto de los post al darle click a ver todos.</p>
				</div>
				<ul>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="Proyecto de diseño - Mostay" loading="lazy" decoding="async">
							</a>
							<div>
								<h1><a href="#">El Social Media Week en CDMX.</a></h1>
								<time datetime="2020-02-14">23 de Febrero de 2019</time>
								<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="Proyecto de diseño - Mostay" loading="lazy" decoding="async">
							</a>
							<div>
								<h1><a href="#">El Social Media Week en CDMX.</a></h1>
								<time datetime="2020-02-14">23 de Febrero de 2019</time>
								<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
					<li>
						<article class="blog-post">
							<a href="#">
								<img src="https://dummyimage.com/300x300/b1b3b6/000000.jpg" alt="Proyecto de diseño - Mostay" loading="lazy" decoding="async">
							</a>
							<div>
								<h1><a href="#">El Social Media Week en CDMX.</a></h1>
								<time datetime="2020-02-14">23 de Febrero de 2019</time>
								<p>Maecenas rhoncus eleifend ante. Vestibulum elementum orci ut velit tempor, quis vestibulum ex volutpat. Aliquam hendrerit facilisis dui, interdum eleifend metus fermentum non. Nunc facilisis ornare turpis nec convallis.</p>
								<a href="#">Leer mas <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</article>
					</li>
				</ul>
				<div class="btn-container">
					<a href="#" class="btn btn-blanco">Ver Todos</a>
				</div>

			</div>
		</section>


    <!-- ********************** footer ********************** -->
		<footer>
      <div class="container">
        <h1><a href="index.html" alt="Mostay"><span>Mostay</span></a></h1>
        <small>Todos los derechos reservados 2019.</small>
  			<div class="social-networks footer">
  				<ul>
  					<li><a href="#" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
  					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
  					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
  					<li><a href="#" target="_blank"><i class="fab fa-behance-square"></i><span>Behance</span></a></li>
  					<li><a href="#" target="_blank"><i class="fab fa-patreon"></i><span>Patreon</span></a></li>
  				</ul>
  			</div>
      </div>
		</footer>

		<!-- ********************** Preloader ********************** -->
		<!-- <div id="preloader">
		  <div id="status">&nbsp;</div>
		</div> -->

		<!-- ********************** scripts ********************** -->
		<script src="js/jquery.min.js"></script>
		<script src="js/script-min.js"></script>
  </body>
</html>
