@use 'mixins' as m;

html {
  box-sizing: border-box;
  position: absolute ;
  width: 100% ;
  height: 100% ;
  padding: 0 ;
  margin: 0 ;
  body {
    //padding: var(--menu-h) 0 0 0 ;
    background-color: var(--color-backgrounds) ;
    margin: 0 ;
    height: 100% ;
    display: block ;
    .breadcrumb-espacio {
      height: var(--bc-img-h) ; 
      width: 100% ;
      background: url('../img/breadcrumb-bg.jpg') no-repeat;
      background-size: cover;
      position: relative ;
      overflow: hidden ;
      margin-bottom: .625rem ;
      &.about {
        height: calc(var(--bc-img-h) + 200) ;
        .bc-img {
          height: calc(var(--bc-img-h) + 200) ;
          img {
            min-height: calc(var(--bc-img-h) + 200) ;
          }
        }
      }
      .bc-img {
        height: var(--bc-img-h) ;
        overflow: hidden ;
        img {
          width: 100% ; height: auto ;
          object-fit: cover ;
          object-position: center ;
          min-height: var(--bc-img-h) ;
        }
        .bc-gradient {
          width: 100% ; height: 100% ;
          position: absolute ;
          top: 0 ; left: 0 ;
          background-image: url('../img/gradient-bg.png');
          background-repeat: repeat-x ;
          background-position: bottom ;
        }
      }
      > .container {
        height: 100% ;
        padding-top: 2.5rem ;
        position: relative ;
        top: calc(-1 * var(--bc-img-h)) ;
        > nav {
          width: 100% ;
          ol {
            li {
              font-family: var(--main-font) ;
              color: var(--white) ;
              display: inline-block ;
              a {
                font-size: 18px ;
                line-height: 18px ;
                font-family: var(--main-font) ;
                color: var(--white) ;
                transition: color 0.3s ease;
                &:hover {
                  color: var(--red) ;
                  text-decoration: none ;
                }
              }
            }
          }
        }
      }
    }
    
    --container-max-width: 90rem; 
    --container-text-width: 55rem; 
    --container-padding: 1rem;    

    .container {
      max-width: var(--container-max-width); 
      width: 100%;                    
      margin: 0 auto;                 
      padding-left: var(--container-padding); 
      padding-right: var(--container-padding);

      @include m.breakpoint(md) {
        padding-left: calc(var(--container-padding) / 2); 
        padding-right: calc(var(--container-padding) / 2);
      }
      &.article-container {
        max-width: var(--container-text-width); 
      }
    }

    .btn-container {
      @include m.flex(row, center, center, nowrap, var(--spacing-sm));
      padding: 2rem var(--spacing-sm) 0 var(--spacing-sm);
    }
    // Titulo de Pagina
    .titulo {
      margin-bottom: 1.87rem ;
      h1 {
        font-family: var(--main-font) ;
        font-size: 2.5rem ;
        line-height: 2.5rem ;
        display: inline-block ;
        margin: 0 .625rem 0 0 ;
        color: var(--darkgray) ;
        a {
          color: var(--white) ;
          transition: color .3s ease ;
          &:hover {
            color: var(--yellow) ;
            text-decoration: none ;
          }
        }
      }
      p {
        width: 30vw ;
        font-family: var(--text-font) ;
        font-size: .8rem ;
        line-height: 1rem ;
        display: inline-block ;
        color: var(--green) ;
        padding: 0 0 0 0 ;
        position: relative ;
        top: 2px ;
      }
    }
    &.no-scroll {
      overflow: hidden;
      height: 100vh;
    }
  }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


