html {
  position: absolute ;
  width: 100% ;
  height: 100% ;
  padding: 0 ;
  margin: 0 ;
}
body {
  padding: $menu-h 0 0 0 ;
  background-color: $darkgray ;
  margin: 0 ;
  height: 100% ;
  display: block ;

  // breadcrumb
  .breadcrumb-espacio {
    height: $bc-img-h ; width: 100% ;
    background: url('../img/breadcrumb-bg.jpg') no-repeat cover ;
    position: relative ;
    overflow: hidden ;
    margin-bottom: 30px ;
    .bc-img {
      height: $bc-img-h ;
      overflow: hidden ;
      img {
        width: 100% ; height: auto ;
        object-fit: cover ;
        object-position: center ;
        min-height: $bc-img-h ;
      }
      .bc-gradient {
        width: 100% ; height: 100% ;
        position: absolute ;
        top: 0 ; left: 0 ;
        background-image: url('../img/gradient-bg.png');
        background-repeat: repeat-x ;
        background-position: bottom ;
      }
    }
    > .container {
      height: 100% ;
      padding-top: 40px ;
      position: relative ;
      top: - $bc-img-h ;
      > nav {
        width: 100% ;
        ol {
          li {

            color: $white ;
            display: inline-block ;
            a {
              font-size: 18px ;
              line-height: 18px ;
              font-family: $main-font ;
              color: $white ;
            }
          }
        }
      }
    }
  } // breadcrumb @extend

  // Titulo de Pagina
  .titulo {
    margin-bottom: 45px ;
    h1 {
      font-family: $main-font ;
      font-size: 40px ;
      line-height: 40px ;
      display: inline-block ;
      margin: 0 10px 0 0 ;
      color: $white ;
    }
    p {
      width: 350px ;
      font-family: $text-font ;
      font-size: 14px ;
      line-height: 16px ;
      display: inline-block ;
      color: $white ;
      padding: 0 0 0 0 ;
      position: relative ;
      top: 2px ;
      color: $gray ;
    }
  }

}

/* ************************************************************************* */
/* ***************************** Media queries ***************************** */
/* ************************************************************************* */

body {
  /* ***************************** Extra Large ***************************** */
  @include media-breakpoint-down(xl) {
  }

  /* ******************************** Large ***************************** */
  @include media-breakpoint-down(lg) {
  }

  /* ******************************** Medium ***************************** */
  @include media-breakpoint-down(md) {
  }

  /* ********************************* Small ***************************** */
  @include media-breakpoint-down(sm) {
  }

  /* ******************************* Extra Small ***************************** */
  @include media-breakpoint-down(xs) {
    .titulo {
      margin-bottom: 30px ;
      h1 {
        width: 100% ;
        font-size: 30px ;
        line-height: 32px ;
        margin: 0 0 5px 0 ;
        display: block ;
      }
      p {
        width: 100% ;
        font-size: 12px ;
        line-height: 16px ;
      }
    }
  }
}
