

// ********** BG Image ********** //
/*@mixin backImage($image,
  $height: 100vh,
  $bgPos: center center
  ) {
  background: linear-gradient( to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,.6)),
    url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  background-size: cover;
  height: $height;
}*/

// ********** Box Grid ********** //
/*@mixin boxGrid($qty, $margin) {
  $w: ((100% - (($qty - 1) * $margin))/$qty);
  width: $w ; //height: $w ;
  &:nth-child(n) {
    margin-right: $margin;
    margin-bottom: $margin;
  }
  &:nth-child(#{$qty}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}*/

// ********** Clearfix ********** //
/*@mixin clearfix {
  &:before, &:after {
    content:'';
    display: table ;
  }
  &:after {
    clear: both ;
  }
}*/

// ********** Linear Gradient ********** //
/*@mixin linearGradient($top, $bottom, $color1, $color2 ) {
  background: linear-gradient(to $bottom, $color1 0%, $color2 100%);
}*/

// ********** transition ********** //
/*@mixin transition($properties...) {
  transition: $properties;
}*/


//base

/* ************************************************************************* */
/* ***************************** Media queries ***************************** */
/* ************************************************************************* */

/*body {
  /* ***************************** Extra Large ***************************** */


  /* ********************************* Small ***************************** */
  /*@include media-breakpoint-down(sm) {
    nav.page-nav {
      width: 100% ;
      margin-bottom: 0 ;
      ul {
        li {
          display: inline-block ;
          margin-right: 4px ;
          a {
            height: 40px ;
            font-size: 16px ;
            line-height: 38px ;
            padding: 0 15px ;
          }
        }
      }
    }
    // btn
    div.btn-container {
      text-align: center ;
      a > span {
        display: none ;
      }
    }
  }*/

  /* ******************************* Extra Small ***************************** */
  /*@include media-breakpoint-down(xs) {
    .titulo {
      margin-bottom: 30px ;
      h1 {
        width: 100% ;
        font-size: 30px ;
        line-height: 32px ;
        margin: 0 0 5px 0 ;
        display: block ;
      }
      p {
        width: 100% ;
        font-size: 12px ;
        line-height: 16px ;
      }
    }
    .breadcrumb-espacio {
      $bc-img-h: 50px ;
      height: $bc-img-h ; width: 100% ;
      .bc-img {
        height: $bc-img-h ;
        img {
          width: 100% ; height: auto ;
          min-height: $bc-img-h ;
        }
      }

      > .container {
        padding-top: 15px ;
        top: - $bc-img-h ;
        > nav {
          ol {
            li {
              color: $white ;
              display: inline-block ;
              a {
                font-size: 14px ;
                line-height: 16px ;
              }
            }
          }
        }
      }
    } // breadcrumb @extend
    div.btn-container {
      text-align: center ;
    }
    nav.page-nav {
      ul {
        li {
          margin-right: 3px ;
          a {
            height: 40px ;
            font-size: 14px ;
            line-height: 38px ;
            padding: 0 14px ;
          }
        }
      }
    }
  }
}*/
