@use "../1-base/mixins" as m;

p {
    color: var(--black);
    font-family: var(--text-font);
    font-size: clamp(1rem, 1.6vw, 1.2rem);
    font-weight: 200 ;
    line-height: 1.6rem ;
    @include m.breakpoint(lg) {
        font-size: clamp(0.8rem, 1.6vw, 1.2rem);
        line-height: clamp(1rem, 1.8vw, 1.4rem);
    }

}

.p__big {
    margin-bottom: 2rem ;
    font-size: clamp(1.3rem, 1.6vw, 1.5rem);
    line-height: 2rem ;
}

.p__bigger {
    margin-bottom: 3rem ;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    line-height: clamp(2rem, 3.5vw, 4rem) ;
}

h1, h2, h3, h4 {
    font-family: var(--main-font);
}

h1 {
    color: var(--red) ;
    font-size: clamp(2rem, 3.5vw, 4rem);
    font-weight: 600 ;
    line-height: clamp(2rem, 3.5vw, 4rem) ;
    @include m.breakpoint(lg) {
        font-size: clamp(1.9rem, 3.5vw, 2.25rem);
        line-height: clamp(2.1rem, 3.5vw, 2.4rem);
    }
    @include m.breakpoint(md) {
        font-size: clamp(1.8rem, 3.5vw, 2.2rem);
        line-height: clamp(1.9rem, 3.5vw, 2.4rem);
    }
}

h1.titulo-oculto {
    display: none ;
}

h2 {
    color: var(--darkgray) ;
    font-size: clamp(1.8rem, 3vw, 3rem);
    font-weight: 400 ;
    line-height: clamp(2.2rem, 3vw, 3.3rem);

    strong {
        font-weight: 600 ;
    }
    @include m.breakpoint(lg) {
        font-size: clamp(1.4rem, 3vw, 1.8rem);
        line-height: clamp(1.5rem, 3vw, 1.9rem);
    }
    @include m.breakpoint(md) {
        font-size: clamp(1.5rem, 3.5vw, 2rem);
        line-height: clamp(1.6rem, 3.5vw, 2.1rem);
    }
}

h3 {
    font-size: clamp(1rem, 1.7vw, 1.3rem);
    font-weight: 600 ;
    line-height: clamp(1.1rem, 1.7vw, 1.4rem);
    @include m.breakpoint(lg) {
        font-size: clamp(1rem, 1.7vw, 1.2rem);
        line-height: clamp(1.1em, 1.7vw, 1.3rem);
    }
}

strong {
    font-weight: 600 ;
}



